<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-large">

    <h5 class="uk-margin-medium-bottom">Bibliometrics</h5>
    <div *ngIf="message" class="uk-alert-danger" uk-alert>
      <a class="uk-alert-close" (click)="clearMessage()" uk-close></a>
      <p>{{message}}</p>
    </div>

    <form [formGroup]="bibliometricForm">

      <div class="uk-margin-medium-bottom">
        <div class="uk-text-italic uk-text-uppercase uk-text-primary uk-margin-bottom uk-text-large">Input</div>
        <div class="uk-margin-bottom">
          <div class="uk-margin-small-bottom">
            <label  class="" for="dataSource">Data Source</label>
          </div>
          <ng-select #dataSource labelForId="dataSource" [searchable]="false" formControlName="dataSource">
            <ng-option [value]="'OpenAIRE Graph'">OpenAIRE Graph</ng-option>
            <ng-option [value]="'SemanticScholar'" [disabled]="true">SemanticScholar</ng-option>
          </ng-select>
        </div>
      </div>

      <hr>

      <div class="uk-margin-medium-bottom">
        <div class="uk-text-italic uk-text-uppercase uk-text-primary uk-margin-bottom uk-text-large">Filters</div>
        <div uk-grid>
          <div class="uk-margin-bottom uk-width-1-5">
            <div class="uk-margin-small-bottom">
              <label for="domain">Domain</label>
            </div>
            <ng-select #domain labelForId="domain" [items]="domains" [selectOnTab]="true" [searchable]="false"
                       formControlName="domain">
            </ng-select>
          </div>

          <div class="uk-margin-bottom uk-width-1-5">
            <div class="uk-margin-small-bottom">
              <label for="category">Category</label>
            </div>
            <ng-select #category labelForId="category" [items]="categories" [selectOnTab]="true" [searchable]="false"
                       formControlName="category">
            </ng-select>
          </div>

          <div class="uk-margin-bottom uk-width-3-5">
            <div class="uk-margin-small-bottom">
              <label for="topics">Topics</label>
              <label>
                <input #selectAll type="checkbox" class="uk-margin-left" [disabled]="!bibliometricForm.get('topics').enabled"
                       [checked]="allTopics" (change)="selectAllTopics($event)">
                <span class="uk-text-muted">Select all</span>
              </label>
            </div>
            <ng-select #topic labelForId="topics" [items]="topics" [multiple]="true" [closeOnSelect]="false"
                       [searchable]="false" bindValue="topic" formControlName="topics"
                       (clear)="selectAll.checked ? selectAll.click() : ''"
                       (remove)="(removeCheck('topics') && selectAll.checked) ? selectAll.click() : ''">
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/>
                {{(item.code ? '(' + item.code + ') ' : '') + item.label}}
              </ng-template>
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:1">
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  <span class="ng-value-label">{{(item['code'] ? '(' + item['code'] + ') ' : '') + item['label']}}</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 1">
                  <span class="ng-value-label">{{items.length - 1}} more...</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="uk-margin-remove-top" uk-grid>
          <div class="uk-margin-bottom uk-width-1-5">
            <div class="uk-margin-small-bottom">
              <label for="from">Year from</label>
            </div>
            <ng-select #from labelForId="from" [searchable]="false" formControlName="from">
              <ng-option *ngFor="let year of yearRange" [value]="year">{{year}}</ng-option>
            </ng-select>
          </div>

          <div class="uk-margin-bottom uk-width-1-5">
            <div class="uk-margin-small-bottom">
              <label for="to">Year to</label>
            </div>
            <ng-select #to labelForId="to" [searchable]="false" formControlName="to">
              <ng-option *ngFor="let year of yearRange" [value]="year">{{year}}</ng-option>
            </ng-select>
          </div>

          <div class="uk-margin-bottom uk-width-3-5">
            <div class="uk-margin-small-bottom">
              <label for="countries">Countries</label>
              <label>
                <input #allCountries type="checkbox" class="uk-margin-left" (change)="selectAllCountries($event)">
                <span class="uk-text-muted">Select all</span>
              </label>
            </div>
            <ng-select #countries labelForId="countries" [groupBy]="'continent'" bindValue="country_code" bindLabel="name"
                       [multiple]="true" [items]="countriesFlat" [selectableGroup]="true" [searchable]="true"
                       [closeOnSelect]="false" [clearSearchOnAdd]="true" [virtualScroll]="true"
                       [selectableGroupAsModel]="false" [compareWith]="compareAccounts" formControlName="countries"
                       (clear)="allCountries.checked ? allCountries.click() : ''"
                       (remove)="(removeCheck('countries') && allCountries.checked) ? allCountries.click() : ''">
              <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/> {{item.continent | uppercase}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/> {{item['name']}}
              </ng-template>
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div class="ng-value" *ngFor="let item of items | slice:0:5">
                  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  <span class="ng-value-label">{{item['name'] ? item['name'] : item['continent']}}</span>
                </div>
                <div class="ng-value" *ngIf="items.length > 5">
                  <span class="ng-value-label">{{items.length - 5}} more...</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>

      </div>

      <div class="uk-margin-remove-top" uk-grid>

        <div class="uk-margin-bottom uk-width-1-3">
          <div class="uk-margin-small-bottom">
            <label for="accessRights">Access Rights</label>
            <label>
              <input #allAccessRights type="checkbox" class="uk-margin-left" (change)="selectAllData($event, 'accessRights')">
              <span class="uk-text-muted">Select all</span>
            </label>
          </div>
          <ng-select #accessRight labelForId="accessRights" [items]="accessRights" formControlName="accessRights"
                     [multiple]="true" (clear)="allAccessRights.checked ? allAccessRights.click() : ''"
                     (remove)="(removeCheck('accessRights') && allAccessRights.checked)?allAccessRights.click():''">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/> {{item}}
            </ng-template>
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
              <div class="ng-value" *ngFor="let item of items | slice:0:2">
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                <span class="ng-value-label">{{item}}</span>
              </div>
              <div class="ng-value" *ngIf="items.length > 2">
                <span class="ng-value-label">{{items.length - 2}} more...</span>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div class="uk-margin-bottom uk-width-1-3">
          <div class="uk-margin-small-bottom">
            <label for="additionalOptions">Additional Options</label>
            <label>
              <input #allAdditionalOptions type="checkbox" class="uk-margin-left" (change)="selectAllData($event, 'additionalOptions')">
              <span class="uk-text-muted">Select all</span>
            </label>
          </div>
          <ng-select #additionalOption labelForId="additionalOptions" [items]="additionalOptions" formControlName="additionalOptions"
                     [multiple]="true" (clear)="allAdditionalOptions.checked ? allAdditionalOptions.click() : ''"
                     (remove)="(removeCheck('additionalOptions') && allAdditionalOptions.checked)?allAdditionalOptions.click():''">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/> {{item}}
            </ng-template>
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
              <div class="ng-value" *ngFor="let item of items | slice:0:2">
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                <span class="ng-value-label">{{item}}</span>
              </div>
              <div class="ng-value" *ngIf="items.length > 2">
                <span class="ng-value-label">{{items.length - 2}} more...</span>
              </div>
            </ng-template>
          </ng-select>
        </div>

        <div class="uk-margin-bottom uk-width-1-3">
          <div class="uk-margin-small-bottom">
            <label for="publicationType">Publication Type</label>
          </div>
          <ng-select #publicationType labelForId="publicationType" [items]="publicationTypes" [selectOnTab]="true" [searchable]="false"
                     formControlName="publicationType">
          </ng-select>
        </div>

      </div>

      <hr>

      <div class="uk-margin-medium-bottom">
        <div class="uk-text-italic uk-text-uppercase uk-text-primary uk-margin-bottom uk-text-large">Output</div>
        <div class="uk-margin-bottom">
          <div class="uk-margin-small-bottom">
            <label for="indicators">Indicators</label>
            <label>
              <input #allIndicators type="checkbox" class="uk-margin-left" (change)="selectAllIndicators($event)">
              <span class="uk-text-muted">Select all</span>
            </label>
          </div>
          <ng-select #topic labelForId="indicators" [items]="indicators" [multiple]="true" [closeOnSelect]="false"
                     [searchable]="false" bindValue="id" bindLabel="label" formControlName="indicators"
                     (clear)="allIndicators.checked ? allIndicators.click() : ''"
                     (remove)="(removeCheck('indicators') && allIndicators.checked)?allIndicators.click():''">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/> {{item.label}}
            </ng-template>
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
              <div class="ng-value" *ngFor="let item of items | slice:0:2">
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                <span class="ng-value-label">{{item['label']}}</span>
              </div>
              <div class="ng-value" *ngIf="items.length > 2">
                <span class="ng-value-label">{{items.length - 2}} more...</span>
              </div>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </form>
    <div class="uk-width-1-1">
      <div class="uk-flex uk-flex-right">
        <button type="button" class="uk-button uk-button-primary" (click)="submitJob()">Submit</button>
      </div>
    </div>
<!--    <pre>{{bibliometricForm.getRawValue() | json}}</pre>-->
<!--    <pre>{{bibliometricForm.valid}}</pre>-->
  </div>
</div>

<div id="modal-success" class="uk-modal-full" uk-modal="esc-close: false; bg-close: false">

  <div class="uk-modal-dialog" style="min-height: 100svh">
    <!--    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>-->
    <!--    <div class="uk-modal-header">-->
    <!--      <h2 class="uk-modal-title">Title</h2>-->
    <!--    </div>-->
    <div class="uk-modal-body">
      <app-success-page></app-success-page>
    </div>
  </div>

</div>
