<div class="uk-section uk-section-primary uk-preserve-color">
  <div class="uk-container uk-container-large">

    <h3 uk-scrollspy-class="" class="uk-margin-remove uk-text-left@m uk-text-center uk-scrollspy-inview uk-animation-fade uk-inline">{{resourceType}} payload</h3>

    <div *ngIf="payload?.identifier" class="uk-margin-top uk-scrollspy-inview uk-animation-fade service-users" uk-scrollspy-class="">
      <span class="field-label">Identifier: {{payload['identifier']['value'] + ' (' + payload['identifier']['identifierType'] + ')'}}</span>
    </div>

    <div *ngIf="payload?.publisher" class="uk-margin-top uk-scrollspy-inview uk-animation-fade service-users" uk-scrollspy-class="">
      <span class="field-label">Publisher: {{payload.publisher.value}}</span>
    </div>

    <div *ngIf="payload?.publicationYear" class="uk-margin-top uk-scrollspy-inview uk-animation-fade service-users" uk-scrollspy-class="">
      <span class="field-label">Publication year: {{payload.publicationYear}}</span>
    </div>

    <div *ngIf="payload?.resourceType" class="uk-margin-top uk-scrollspy-inview uk-animation-fade service-users" uk-scrollspy-class="">
      <span class="field-label">Resource type: {{payload.resourceType.value}}</span>
    </div>

    <div *ngIf="payload?.titles?.length > 0" class="uk-margin-top uk-scrollspy-inview uk-animation-fade service-users" uk-scrollspy-class="">
      <h6 class="field-label">Titles</h6>
      <div class="uk-flex">
        <ul>
          <li *ngFor="let title of payload.titles">
            <span>{{title.value}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="payload?.subjects?.length > 0" class="uk-margin-top uk-scrollspy-inview uk-animation-fade service-users" uk-scrollspy-class="">
      <h6 class="field-label">Subjects</h6>
      <div class="uk-flex">
        <ul>
          <li *ngFor="let subject of payload.subjects">
            <span>{{subject.value}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="payload?.descriptions?.length > 0" class="uk-margin-top uk-scrollspy-inview uk-animation-fade service-users" uk-scrollspy-class="">
      <h6 class="field-label">Descriptions</h6>
      <div class="uk-flex">
        <ul>
          <li *ngFor="let description of payload.descriptions">
            <span>{{description.content}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="payload?.creators?.length > 0" class="uk-margin-top uk-scrollspy-inview uk-animation-fade service-users" uk-scrollspy-class="">
      <h6 class="field-label">Creators</h6>
      <div class="uk-flex">
        <ul>
          <li *ngFor="let creator of payload.creators">
            <span>{{creator.creatorName.value}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="payload?.contributors?.length > 0" class="uk-margin-top uk-scrollspy-inview uk-animation-fade service-users" uk-scrollspy-class="">
      <h6 class="field-label">Contributors</h6>
      <div class="uk-flex">
        <ul>
          <li *ngFor="let contributor of payload.contributors">
            <span>{{contributor.contributorName.value}}</span>
          </li>
        </ul>
      </div>
    </div>

<!--    <pre>{{payload | json}}</pre>-->
  </div>
</div>
