<div id="header_main">
  <div class="main-menu tm-header uk-visible@m tm-header-transparent">

    <nav class="uk-navbar-container uk-container uk-container-expand" uk-navbar>

      <div class="uk-navbar-left">

        <a [routerLink]="['home']" class="uk-logo uk-navbar-item">
          <img src="{{logoURL}}" alt="Opix Platform" class="" width="150px" height="80px">
        </a>

      </div>

      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">

          <li class="uk-parent" [routerLinkActive]="['uk-active']">
            <a class="" [routerLink]="['/home']" aria-expanded="false">Home</a>
          </li>
          <li class="uk-parent" [routerLinkActive]="['uk-active']">
            <a href="#" class="" aria-expanded="false">
              Browse catalogue
            </a>
            <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" id="browse" uk-toggle>
              <div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                <div class="uk-first-column">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li [routerLinkActive]="'uk-active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/search" routerLinkActive="uk-active" href="/search">Datasets</a></li>
                    <li [routerLinkActive]="'uk-active'"><a routerLink="/search/tool" routerLinkActive="uk-active" href="/search/tool">Tools & Workflows</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="uk-parent" *ngIf="hasRoles()" [routerLinkActive]="['uk-active']">
            <a class="" [routerLink]="['/dashboard']" aria-expanded="false">My dashboard</a>
          </li>

        </ul>
      </div>

      <div class="uk-navbar-right">
        <div id="navigation">
          <ul *ngIf="userInfo" class="uk-navbar-nav user_actions">
            <li>
              <div>
                <a class="uk-icon ng-star-inserted" aria-expanded="false">
                  <svg height="60" width="60">
                    <circle cx="30" cy="30" r="20" stroke-width="1"></circle>
                    <text dy=".4em" font-size="16" text-anchor="middle" x="50%" y="50%" class="ng-star-inserted"> {{parseUsername()}} </text>
                  </svg>
                </a>
                <div class="uk-padding-remove-horizontal ng-star-inserted uk-dropdown" uk-dropdown="mode: click; offset: -2; delay-hide: 0; flip: false; pos: bottom-right">
                  <ul class="uk-nav uk-dropdown-nav">
                    <li>
                      <a id="logout" (click)="logout()">Log out</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <ul *ngIf="!userInfo" class="uk-navbar-nav user_actions">
            <li>
              <div>
                <a class="uk-button uk-button-link" (click)="logInButton()">Login</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </nav>

  </div>
</div>
