<!--NO MOBILE-->
<div id="header_main" class="main-menu tm-header uk-visible@m tm-header-transparent">
  <div >

    <nav class="uk-navbar-container uk-container uk-container-expand" uk-navbar>

      <div class="uk-navbar-left">

        <a [routerLink]="['home']" class="uk-logo uk-navbar-item">
          <img src="{{logoURL}}" alt="Opix Platform" class="" width="150px" height="80px">
        </a>

      </div>

      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">

          <li class="uk-parent" [routerLinkActive]="['uk-active']">
            <a class="" [routerLink]="['/home']" aria-expanded="false">Home</a>
          </li>
          <li *ngIf="(userInfo?.roles && (hasRole('OPERATOR_DATASET-OWNER') || hasRole('OPERATOR_DATASET-INGESTOR')
          || hasRole('OPERATOR_DATA-PROCESSOR') || hasRole('OPERATOR_DEVELOPER'))) || projectName !== 'Opix'"
            class="uk-parent" [routerLinkActive]="['uk-active']">
            <a href="#" class="" aria-expanded="false">
              Browse catalogue
            </a>
            <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" id="browse" uk-toggle>
              <div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                <div class="uk-first-column">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li [routerLinkActive]="'uk-active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/search" routerLinkActive="uk-active" href="/search">Resources</a></li>
                    <li [routerLinkActive]="'uk-active'"><a routerLink="/search/tool" routerLinkActive="uk-active" href="/search/tool">Tools & Workflows</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="uk-parent" *ngIf="hasRoles()" [routerLinkActive]="['uk-active']">
            <a class="" [routerLink]="['/dashboard']" aria-expanded="false">My dashboard</a>
          </li>

        </ul>
      </div>

      <div class="uk-navbar-right">
        <div id="navigation">
          <ul *ngIf="isLoggedIn() && userInfo; else elseBlock" class="uk-navbar-nav user_actions">
            <li>
              <div>
                <a class="uk-icon ng-star-inserted" aria-expanded="false">
                  <svg height="60" width="60">
                    <circle cx="30" cy="30" r="20" stroke-width="1"></circle>
                    <text dy=".4em" font-size="16" text-anchor="middle" x="50%" y="50%" class="ng-star-inserted"> {{parseUsername()}} </text>
                  </svg>
                </a>
                <div class="uk-padding-remove-horizontal ng-star-inserted uk-dropdown" uk-dropdown="mode: click; offset: -2; delay-hide: 0; flip: false; pos: bottom-right">
                  <ul class="uk-nav uk-dropdown-nav">
                    <li>
                      <a id="logout" (click)="logout()">Log out</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <ng-template #elseBlock>
            <ul class="uk-navbar-nav user_actions">
              <li>
                <div>
                  <a class="uk-button uk-button-link" (click)="logInButton()">Login</a>
                </div>
              </li>
            </ul>
          </ng-template>
        </div>
      </div>

    </nav>

  </div>

</div>

<!--MOBILE-->
<div class="uk-hidden@m">

  <nav class="uk-navbar-container uk-navbar" uk-navbar="delay-hide: 400">
    <div class="uk-navbar-left">
      <a href="#tm-mobile" class="uk-navbar-toggle" uk-toggle>
        <div uk-navbar-toggle-icon="" class="uk-navbar-toggle-icon uk-icon"></div>
      </a>
    </div>
    <div class="uk-navbar-center">
      <a [routerLink]="['home']" class="uk-navbar-item uk-logo"><img alt="Opix Platform" src="{{logoURL}}" style="width: 140px"></a>
    </div>
    <div class="uk-navbar-right login">
      <div *ngIf="isLoggedIn() && userInfo; else elseMobileBlock">
        <a class="uk-icon ng-star-inserted user-info" aria-expanded="false">
          <svg height="60" width="60">
            <circle cx="30" cy="30" r="20" stroke-width="1"></circle>
            <text dy=".4em" font-size="16" text-anchor="middle" x="50%" y="50%" class="ng-star-inserted"> {{parseUsername()}} </text>
          </svg>
        </a>
        <div class="uk-padding-remove-horizontal ng-star-inserted uk-dropdown" uk-dropdown="mode: click; offset: -2; delay-hide: 0; flip: false; pos: bottom-right">
          <ul class="uk-nav uk-dropdown-nav">
            <li>
              <a id="logout-mobile" (click)="logout()">Log out</a>
            </li>
          </ul>
        </div>
      </div>
      <ng-template #elseMobileBlock>
        <a class="navbar-user-icon" (click)="logInButton()">
          <div name="login" ratio="1.5"><span class="uk-icon uk-flex ng-star-inserted" style=""><svg width="30" height="30" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg"><g><path d="m151.67 536.67c0-109.47 88.863-198.34 198.33-198.34s198.33 88.867 198.33 198.34c0 6.4375 5.2266 11.664 11.668 11.664s11.668-5.2266 11.668-11.664c0-122.34-99.332-221.67-221.67-221.67s-221.67 99.328-221.67 221.67c0 6.4375 5.2266 11.664 11.668 11.664s11.668-5.2266 11.668-11.664z" fill-rule="evenodd"></path><path d="m349.8 11.668c-77.164 0-139.8 62.637-139.8 139.8s62.637 139.8 139.8 139.8c77.164 0 139.8-62.637 139.8-139.8s-62.637-139.8-139.8-139.8zm0 23.332c64.285 0 116.47 52.184 116.47 116.47 0 64.281-52.184 116.47-116.47 116.47-64.281 0-116.47-52.188-116.47-116.47 0-64.285 52.188-116.47 116.47-116.47z" fill-rule="evenodd"></path></g></svg></span></div>
        </a>
      </ng-template>
    </div>
  </nav>

  <div #canvas id="tm-mobile" [attr.uk-offcanvas]="'mode: none; overlay: true'"
       class="uk-offcanvas">
    <div class="uk-offcanvas-bar-light uk-padding-remove">
      <nav class="uk-navbar uk-background-default" uk-sticky>
        <div class="uk-navbar-left">
          <button class="uk-navbar-toggle uk-icon uk-close" (click)="closeCanvas(canvas)">
            <div name="close" ratio="1.5" visuallyhidden="close menu" style="margin-left: -0.5em;">
              <span class="uk-display-inline-block ng-star-inserted">
                <span class="material-icons" style="font-size: 30px;">close</span>
              </span>
            </div>
          </button>
        </div>
        <div class="uk-navbar-center">
          <a class="uk-logo uk-navbar-item uk-flex uk-flex-middle ng-star-inserted">
            <img src="{{logoURL}}" alt="Opix Platform" width="140px">
          </a>
        </div>
      </nav>
      <ul class="uk-nav uk-nav-primary uk-list uk-list-large uk-margin-large-top uk-nav-parent-icon" uk-nav>
        <li [routerLinkActive]="['uk-active']">
          <a [routerLink]="['/home']" (click)="closeCanvas(canvas)">Home</a>
        </li>
<!--        <li [routerLinkActive]="['uk-active']">-->
<!--          <a href="">Test 2</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="">Test 3</a>-->
<!--        </li>-->
        <li *ngIf="hasRoles()" [routerLinkActive]="['uk-active']">
          <a [routerLink]="['/dashboard']">My dashboard</a>
        </li>
      </ul>
    </div>
  </div>

</div>

