:root {
  --intelcomp-light-color: #f09c19;
  --intelcomp-dark-color: #15243C;


  --main-font-family: 'Aileron';
  --secondary-font-family: 'Bitter';
  --black: #1A1A1A;
  --grey: #6E6E6E;
  --catalogue-light-purple: #AD20E7;
  --catalogue-dark-purple: #1D193C;
  --light-grey: #F9F9F9;
  --medium-grey: #F5F5F5;
  --dark-grey: #2B2B2B;
  --eosc-blue: #3A75AB;
  --openaire-light-blue: #3086ED;
  --default-element-bg: #DEDEDE;


  --grey-900: #2C2C2C;
  --grey-700: #6E6E6E;


  --primary-color: #f09c19;
  /*--primary-color: #AD20E7;*/
  --link-color: #2D72D6;
  --link-hover-color: #3665ab;
  --breadcrumb-active-color: #4687E6;
  --button-primary-hover-background-color: #9FCC52;
  --button-secondary-color: #fff;
  --button-secondary-background-color: #3086ED;
  --button-secondary-hover-background-color: #0053ba;

  --logo: url('https://www.opix.ai/images/Logos/opix%20logo%202.svg');
  --home-hero-image: url('http://opix.ai/templates/yootheme/cache/2_Consultation-dd4e3df2.jpeg');

  --header-height: 107px;
}
