:root {
  --intelcomp-light-color: #ff006e;
  --intelcomp-dark-color: #151F2E;


  --main-font-family: 'Aileron';
  --secondary-font-family: 'Bitter';
  --black: #1A1A1A;
  --grey: #6E6E6E;
  --catalogue-light-purple: #AD20E7;
  --catalogue-dark-purple: #1D193C;
  --light-grey: #F9F9F9;
  --medium-grey: #F5F5F5;
  --dark-grey: #2B2B2B;
  --eosc-blue: #3A75AB;
  --openaire-light-blue: #3086ED;
  --default-element-bg: #DEDEDE;


  --grey-900: #2C2C2C;
  --grey-700: #6E6E6E;


  --primary-color: #ff006e;
  /*--primary-color: #AD20E7;*/
  --link-color: #2D72D6;
  --link-hover-color: #3665ab;
  --breadcrumb-active-color: #4687E6;
  --button-primary-hover-background-color: #9FCC52;
  --button-secondary-color: #fff;
  --button-secondary-background-color: #3086ED;
  --button-secondary-hover-background-color: #0053ba;
}
