<div id="header_main">
  <div class="main-menu tm-header uk-visible@m tm-header-transparent">

    <div class="uk-navbar-container">
      <div class="uk-container uk-container-expand">

        <nav class="uk-navbar fixed-navbar">

          <div class="uk-navbar-left">
            <div id="hamburger" class="hamburger change" (click)="change()">
              <div class="icon-bar1"></div>
              <div class="icon-bar2"></div>
              <div class="icon-bar3"></div>
            </div>

            <a class="logo" [routerLink]="['home']">
              <!--<img src="dataSpaceUI/assets/images/intelcomp-logo.svg">-->
              <div class="projectLogo uk-inline">
              </div>
              <span *ngIf="projectName !== 'Opix'" class="uk-margin-left">Data Catalogue</span>
            </a>
          </div>

          <div class="uk-navbar-right">
            <div id="navigation">
              <ul *ngIf="userInfo" class="uk-navbar-nav user_actions">
                <li>
                  <div>
                    <a class="uk-icon ng-star-inserted" aria-expanded="false">
                      <svg height="60" width="60">
                        <circle cx="30" cy="30" r="20" stroke-width="1"></circle>
                        <text dy=".4em" font-size="16" text-anchor="middle" x="50%" y="50%" class="ng-star-inserted"> {{parseUsername()}} </text>
                      </svg>
                      <!--<i class="material-icons">keyboard_arrow_down</i>-->
                    </a>
                    <div class="uk-padding-remove-horizontal ng-star-inserted uk-dropdown" uk-dropdown="mode: click; offset: -2; delay-hide: 0; flip: false; pos: bottom-right">
                      <ul class="uk-nav uk-dropdown-nav">
                        <!--<li class="user-info">-->
                          <!--<div>-->
                            <!--<div class="uk-text-bold">{{userInfo.user.fullname}}</div>-->
                            <!--<div class="uk-text-meta">{{userInfo.user.email}}</div>-->
                          <!--</div>-->
                        <!--</li>-->
                        <!--<hr>-->
                        <!--<li class="groups" *ngFor="let stakeholder of userInfo.stakeholders">-->
                          <!--<a (click)="setGroup(stakeholder)"><span class="material-icons uk-margin-right">group</span>-->
                            <!--{{stakeholder.name + (stakeholder.type === 'association' ? (', EOSC Association '+ (stakeholder.country ? '(' + stakeholder.country + ')': '')) : '') }}-->
                          <!--</a>-->
                        <!--</li>-->
                        <!--<hr>-->
                        <!--<li class="groups" *ngFor="let coordinator of userInfo.coordinators">-->
                          <!--<a (click)="setCoordinator(coordinator)"><span class="material-icons uk-margin-right">group</span>{{coordinator.name}}</a>-->
                        <!--</li>-->
                        <!--<hr>-->
                        <li>
                          <a id="logout" (click)="logout()">Log out</a>
                        </li>
                      </ul>
                    </div>
                    <div id="logout2"></div>
                  </div>
                </li>
              </ul>
              <ul *ngIf="!userInfo" class="uk-navbar-nav user_actions">
                <li>
                  <div>
                    <a class="uk-button uk-button-link" (click)="login()">Login</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>


        </nav>

      </div>

    </div>

  </div>
</div>
