<div class="patent-analytics-hero-container">
  <div class="uk-background-cover uk-background-muted uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url('../../assets/images/patent_1.jpg');">
    <h1 class="uk-text-bold">OPIX Patent analysis</h1>
  </div>
</div>

<div class="uk-section uk-section-primary uk-preserve-color">
  <div class="uk-container uk-container-small">

    <p class="uk-text-large">
      <span class="uk-text-primary">OPIX patent analysis provides</span> you with valuable insights into the competitive landscape, technological trends, and potential opportunities. It helps you make informed decisions, allocate resources effectively, and stay ahead in your respective industries.
    </p>

    <hr class="uk-margin-medium-top uk-margin-medium-bottom">

    <p class="uk-text-large">
      We utilize big data and data analytics facilitating <span class="uk-text-primary">analyses on</span>:
    </p>
    <ol class="uk-text-large">
      <li class="uk-margin-medium-bottom">
        <div class="uk-text-bold uk-margin-small-bottom">Competitive Intelligence</div>
        <div class="uk-text-default">Patent analysis allows businesses to compare their own patent portfolio with those of their competitors. This helps you understand the position in the market and identify areas where you can improve or differentiate your company.</div>
      </li>
      <li class="uk-margin-medium-bottom">
        <div class="uk-text-bold uk-margin-small-bottom">Assessing Technological Competitiveness</div>
        <div class="uk-text-default">Patent analysis helps businesses assess their current technical competitiveness. By analyzing patent data, businesses can gauge their strengths and weaknesses in specific technologies and identify areas where they can enhance their competitive advantage.</div>
      </li>
      <li class="uk-margin-medium-bottom">
        <div class="uk-text-bold uk-margin-small-bottom">Policy Intelligence</div>
        <div class="uk-text-default">By analyzing patent data, you can gain insights into technological trends and forecast future developments. This information is valuable for strategic planning, enabling you to align your policy efforts, identify potential opportunities, and plan for potential competition based on new technologies.</div>
      </li>
      <li class="uk-margin-medium-bottom">
        <div class="uk-text-bold uk-margin-small-bottom">R&D Management</div>
        <div class="uk-text-default">Patent analysis can guide businesses in managing their R&D efforts. By analyzing patent data, businesses can identify gaps in the existing technology landscape, uncover areas of potential innovation, and make informed decisions about their R&D investments.</div>
      </li>
      <li class="uk-margin-medium-bottom">
        <div class="uk-text-bold uk-margin-small-bottom">Business Intelligence</div>
        <div class="uk-text-default">Patent analysis serves as a valuable asset for business intelligence. It allows you to assess your own technological portfolio, understand your position in a technology class or industry, and make informed decisions about your business strategies.</div>
      </li>
    </ol>

  </div>
</div>
