<div class="uk-section uk-section-default">
  <div class="uk-container uk-container-large uk-margin">

    <h5 class="">Analyses history</h5>

    <div uk-grid>
      <div class="uk-width-1-4">
        <ng-select labelForId="dataSource" [searchable]="false" [(ngModel)]="status" (change)="filter()">
          <ng-option [value]="''">All statuses</ng-option>
          <ng-option [value]="'FINISHED'">Finished</ng-option>
          <ng-option [value]="'QUEUED'">Queued</ng-option>
          <ng-option [value]="'RUNNING'">Running</ng-option>
          <ng-option [value]="'FAILED'">Failed</ng-option>
          <ng-option [value]="'CANCELED'">Canceled</ng-option>
          <ng-option [value]="'ERROR'">Error</ng-option>
          <ng-option [value]="'KILLED'">Killed</ng-option>
        </ng-select>
      </div>
      <div class="uk-width-1-4">
        <ng-select labelForId="dataSource" [searchable]="false" [(ngModel)]="workflowType" (change)="filter()">
          <ng-option [value]="''">All workflows</ng-option>
          <ng-option [value]="'bibliometricAnalysis'">bibliometricAnalysis</ng-option>
          <ng-option [value]="'patentAnalytics'">patentAnalytics</ng-option>
        </ng-select>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-margin-medium-top">
      <table class="uk-table uk-table-divider card-table">
        <thead>
        <tr>
          <th class="extra-left-padding">Type</th>
          <th>Filters</th>
          <th>Submitted on</th>
          <th>Finished at</th>
          <th>Status</th>
          <th class="extra-right-padding"></th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="jobs?.length == 0">
          <tr>
            <td colspan="5" class="extra-left-padding extra-right-padding">No past analyses to show</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="jobs?.length > 0">
          <tr *ngFor="let job of filteredJobs">
            <td class="extra-left-padding">
              <ng-container *ngIf="this.getWorkflowType(job.callerAttributesObj)==='patentAnalytics'">Patent Analytics</ng-container>
              <ng-container *ngIf="this.getWorkflowType(job.callerAttributesObj)!=='patentAnalytics'">Bibliometrics Analysis</ng-container>
            </td>
            <td>
              <a class="uk-link">{{this.getNumberOfFilters(job.callerAttributesObj)}} filters selected</a>
              <div uk-dropdown="mode: click; pos: bottom-left" class="filters-dropdown" style="max-width: 300px !important;">
                <div class="uk-padding-small">
                  <h6>Filters</h6>
                  <div *ngFor="let filter of getFiltersAsAMap(job.callerAttributesObj) | keyvalue" class="uk-margin-top">
                    <span>{{filter.key}}: </span>
                    <span>{{filter.value}}</span>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div *ngIf="job.createdAt" class="uk-margin-bottom">{{job.createdAt | date:'medium'}}</div>
            </td>
            <td>
              <div *ngIf="job.status && job.status.length>0 && (job.status[0].status=='FINISHED' || job.status[0].status=='finished' || job.status[0].status=='FAILED' || job.status[0].status=='failed'); else elseBlock">
                {{job.status[0].timestamp | date:'medium'}}
              </div>
              <ng-template #elseBlock>--</ng-template>
            </td>
            <td>
              <ng-container *ngIf="job.mergedStatus==='FINISHED'"><label class="uk-label uk-label-success">{{job.mergedStatus}}</label></ng-container>
              <ng-container *ngIf="job.mergedStatus==='FAILED'"><label class="uk-label uk-label-danger">{{job.mergedStatus}}</label></ng-container>
              <ng-container *ngIf="job.mergedStatus==='ERROR'"><label class="uk-label uk-label-danger">{{job.mergedStatus}}</label></ng-container>
              <ng-container *ngIf="job.mergedStatus==='KILLED'"><label class="uk-label uk-label-danger">{{job.mergedStatus}}</label></ng-container>
              <ng-container *ngIf="job.mergedStatus==='QUEUED'"><label class="uk-label uk-label-info">{{job.mergedStatus}}</label></ng-container>
              <ng-container *ngIf="job.mergedStatus==='RUNNING'"><label class="uk-label uk-label-info">{{job.mergedStatus}}</label></ng-container>
              <ng-container *ngIf="job.mergedStatus==='CANCELLED'"><label class="uk-label uk-label-secondary">{{job.mergedStatus}}</label></ng-container>
            </td>
            <td class="extra-right-padding">
              <ng-container>
                <a uk-tooltip="Coming soon.." class="uk-margin-right">
                  <span class="material-icons">delete</span>
                </a>
              </ng-container>
              <ng-container *ngIf="job.mergedStatus === 'FINISHED'">
                <a [routerLink]="['/result', job.id]" uk-tooltip="View results..">
                  <span class="material-icons icons-secondary">arrow_forward</span>
                </a>
              </ng-container>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>

  </div>

</div>


