<div id="modal-input" class="uk-modal-full modal-secondary" uk-modal='{"esc-close": false, "bg-close": false}'>

  <div class="uk-modal-dialog" style="min-height: 100svh">
    <button class="uk-modal-close-full uk-close-large" type="button" (click)="navigateBack()" uk-close></button>

    <div id="modal-header" class="uk-modal-header uk-flex uk-flex-middle uk-visible@m">
      <img src="assets/images/logos/opix%20logo%202_notag.png" alt="Opix Platform" class="uk-margin-medium-right" width="150px" height="60px">
      <div>
        <h4 class="uk-modal-title uk-margin-remove">Patent Analytics</h4>
        <span class="uk-text-meta">Starting from inventors/applicants</span>
      </div>
    </div>

    <div id="modal-header-mobile" class="uk-modal-header uk-hidden@m uk-text-center">
      <img src="assets/images/logos/opix%20logo%202_notag.png" alt="Opix Platform" class="" width="150px" height="60px">
      <div>
        <h4 class="uk-modal-title uk-margin-remove">Patent Analytics</h4>
        <span class="uk-text-meta">Starting from inventors/applicants</span>
      </div>
    </div>

    <div class="">

      <div *ngIf="!submitSuccess" class="uk-container uk-container-expand">

        <div class="" uk-grid>

          <div class="uk-width-1-3 uk-section-default uk-visible@m" [ngStyle]="{'min-height': 'calc(100vh - ' + headerHeight + 'px)'}">
            <ul id="tabs" class="uk-tab-left wizard-tabs uk-margin-large-top">
              <li class="uk-margin-bottom" [ngClass]="{'step-enabled': stepComplete(0)}">
                <a href="#" class="" (click)="tabIndex = 0">
                  <div class="step-icon uk-margin-right">
                    <span class="material-icons">{{stepComplete(0) ? 'check_circle':'circle'}}</span>
                  </div>
                  <div>
                    <div class="step-header uk-text-bold">Companies / Inventors</div>
                    <div class="step-description uk-text-light uk-margin-small-top">
                      Upload your csv file (the first column must have the companies/inventors’ names, one name per row;
                      you may have as many columns as you need)
                    </div>
                  </div>
                </a>
              </li>
              <li class="uk-margin-bottom" [ngClass]="{'step-enabled': stepComplete(0), 'uk-disabled': !stepComplete(0)}">
                <a href="#" class="" (click)="tabIndex = 1">
                  <div class="step-icon uk-margin-right">
                    <span class="material-icons">{{stepComplete(1) ? 'check_circle':'circle'}}</span>
                  </div>
                  <div>
                    <div class="step-header uk-text-bold">Filters</div>
                    <div class="step-description uk-text-light uk-margin-small-top">Filter by Year</div>
                  </div>
                </a>
              </li>
              <li class="uk-margin-bottom" [ngClass]="{'step-enabled': stepComplete(1) && stepComplete(0), 'uk-disabled': !(stepComplete(1) && stepComplete(0))}">
                <a href="#" class="" (click)="tabIndex = 2">
                  <div class="step-icon uk-margin-right">
                    <span class="material-icons">{{stepComplete(2) ? 'check_circle':'circle'}}</span>
                  </div>
                  <div>
                    <div class="step-header uk-text-bold">Indicators</div>
                    <div class="step-description uk-text-light uk-margin-small-top">Pick the indicators to show in your dashboard</div>
                  </div>
                </a>
              </li>
              <li class="uk-margin-bottom" [ngClass]="{'step-enabled': stepComplete(2), 'uk-disabled': !stepComplete(2)}">
                <a href="#" class="" (click)="tabIndex = 3">
                  <div class="step-icon uk-margin-right">
                    <span class="material-icons">{{stepComplete(2) ? 'check_circle':'circle'}}</span>
                  </div>
                  <div>
                    <div class="step-header uk-text-bold">Output</div>
                    <div class="step-description uk-text-light uk-margin-small-top">Configure your output with the right metadata</div>
                  </div>
                </a>
              </li>
              <li class="uk-margin-bottom" [ngClass]="{'step-enabled': stepComplete(3), 'uk-disabled': !stepComplete(3)}">
                <a href="#" class="" (click)="tabIndex = 4">
                  <div class="step-icon uk-margin-right">
                    <span class="material-icons">{{stepComplete(3) ? 'check_circle':'circle'}}</span>
                  </div>
                  <div>
                    <div class="step-header uk-text-bold">Summary</div>
                    <div class="step-description uk-text-light uk-margin-small-top">View a summary of your selections before you proceed</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>

          <div class="uk-width-expand" style="overflow-y: scroll">
            <div class="uk-container uk-container-xsmall">

              <div class="uk-grid uk-flex uk-flex-center">
                <div class="uk-width-2-3@m uk-width-2-3@l uk-width-1-1@s">

                  <ul class="uk-switcher switcher-container uk-margin-large-top">
                    <li>
                      <div class="uk-text-center uk-margin-medium-bottom">
                        <div class="uk-text-bold uk-margin-small-bottom uk-text-large">Companies / Inventors</div>
                        <div class="uk-text-light">
                          Upload your csv file (the first column must have the companies/inventors’ names, one name per
                          row; you may have as many columns as you need)
                        </div>
                      </div>
                      <div>

<!--                        <div id="drop_zone" ondrop="dropHandler(event);"-->
<!--                             ondragover="dragOverHandler(event);">-->
<!--                          <p>Drag one or more files to this <i>drop zone</i>.</p>-->
<!--                        </div>-->


<!--                        <div class="js-upload uk-placeholder uk-text-center">-->
<!--                          <span uk-icon="icon: cloud-upload"></span>-->
<!--                          <span class="uk-text-middle"> Attach file dropping it here or </span>-->
<!--                          <div uk-form-custom>-->
<!--                            <input type="file" (change)="onFileSelect($event)">-->
<!--                            <span class="uk-link">selecting one</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>-->


                        <input type="file" id="fileUpload" name="file" accept="*/*" #fileSelect style="display: none"
                               (change)="onFileSelect($event)">
                        <div class="uk-margin-small-left uk-flex uk-flex-middle">
                          <a class="material-icons md-36" (click)="fileSelect.click()" title="Click to select a file"
                             style="color: #000">upload_file
                          </a>
                          <span class="uk-margin-small-left">{{file?.name ? file.name : 'No file selected.'}}</span>
                        </div>
                      </div>
                      <div class="uk-text-center uk-margin-top uk-margin-large-bottom">
                        <a class="uk-button uk-button-primary uk-width-1-1" (click)="showSwitcherTab(1)"
                           [ngClass]="{'uk-disabled': !stepComplete(0)}">Continue
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="uk-text-center uk-margin-medium-bottom">
                        <div class="uk-text-bold uk-margin-small-bottom uk-text-large">Filters</div>
                        <div class="uk-text-light">Select your filters</div>
                      </div>
                      <div class="uk-margin-bottom">
                        <div class="uk-grid">
                          <div class="uk-margin-bottom uk-width-1-2">
                            <div class="uk-margin-small-bottom">
                              <label class="uk-text-bold uk-text-small">Year from</label>
                            </div>
                            <ng-select #from labelForId="from" [searchable]="false" [(ngModel)]="patentInputs.from">
                              <ng-option *ngFor="let year of yearRange" [value]="''+year">{{year}}</ng-option>
                            </ng-select>
                          </div>
                          <div class="uk-margin-bottom uk-width-1-2">
                            <div class="uk-margin-small-bottom">
                              <label class="uk-text-bold uk-text-small">Year to</label>
                            </div>
                            <ng-select #to labelForId="to" [searchable]="false" [(ngModel)]="patentInputs.to">
                              <ng-option *ngFor="let year of yearRange" [value]="''+year">{{year}}</ng-option>
                            </ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="uk-text-center uk-margin-top uk-margin-large-bottom">
                        <a class="uk-button uk-button-primary uk-width-1-1" (click)="showSwitcherTab(2)"
                           [ngClass]="{'uk-disabled': !stepComplete(1)}">Continue
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="uk-text-center uk-margin-medium-bottom">
                        <div class="uk-text-bold uk-margin-small-bottom uk-text-large">Indicators</div>
                        <div class="uk-text-light">Pick the indicators to show in your dashboard</div>
                      </div>
                      <div class="uk-margin-bottom">
                        <div class="uk-margin-bottom">
                          <div class="uk-margin-small-bottom">
                            <label class="uk-text-bold uk-text-small">Indicators *</label>
                            <label>
                              <input #allIndicators type="checkbox" class="uk-margin-left uk-margin-small-right"
                                     (change)="selectAll($event, 'indicators')">
                              <span class="uk-text-muted">Select all</span>
                            </label>
                          </div>
                          <div class="checkbox-list checkbox-list-small">
                            <div class="uk-padding-small">
                              <div class="uk-flex uk-flex-top uk-margin-small-bottom" *ngFor="let indicator of indicators; let i=index">
                                <input [id]="'indicator'+i" type="checkbox" [value]="indicator['code']" class="uk-margin-small-right"
                                       (change)="indicatorSelect($event); (removeCheck('indicators') && allIndicators.checked)?allIndicators.click():''"
                                       [checked]="showChecked('indicators', indicator['code'])">
                                <label [for]="'indicator'+i">{{indicator['label']}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="uk-text-center uk-margin-top uk-margin-large-bottom">
                        <a class="uk-button uk-button-primary uk-width-1-1" (click)="showSwitcherTab(3)"
                           [ngClass]="{'uk-disabled': !stepComplete(2)}" >Continue
                        </a>
                      </div>
                    </li>
                    <li>
                      <div class="uk-text-center uk-margin-medium-bottom">
                        <div class="uk-text-bold uk-margin-small-bottom uk-text-large">Output</div>
                        <div class="uk-text-light">Configure your output with the right metadata</div>
                      </div>
                      <div class="uk-margin-bottom">
                        <div>
                          <div class="uk-margin-small-bottom">
                            <label class="uk-text-bold uk-text-small">Metadata *</label>
                            <label>
                              <input #allMetadata type="checkbox" class="uk-margin-left uk-margin-small-right"
                                     (change)="selectAll($event, 'metadata')">
                              <span class="uk-text-muted">Select all</span>
                            </label>
                          </div>
                          <div class="checkbox-list checkbox-list-small">
                            <div class="uk-padding-small">
                              <div class="uk-flex uk-flex-top uk-margin-small-bottom" *ngFor="let entry of metadata; let i=index">
                                <input [id]="'metadata'+i" type="checkbox" [value]="entry['code']" class="uk-margin-small-right"
                                       (change)="metadataSelect($event); (removeCheck('metadata') && allMetadata.checked)?allMetadata.click():''"
                                       [checked]="showChecked('metadata', entry['code'])">
                                <label [for]="'metadata'+i">{{entry['label']}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="uk-text-center uk-margin-top uk-margin-large-bottom">
                        <a class="uk-button uk-button-primary uk-width-1-1" (click)="showSwitcherTab(4)"
                           [ngClass]="{'uk-disabled': !stepComplete(3)}" >Continue
                        </a>
                      </div>
                    </li>
                    <li>
                      <div *ngIf="message" class="uk-alert-danger" uk-alert>
                        <a class="uk-alert-close" (click)="clearMessage()" uk-close></a>
                        <p>{{message}}</p>
                      </div>
                      <div class="uk-text-center uk-margin-medium-bottom">
                        <div class="uk-text-bold uk-margin-small-bottom uk-text-large">Summary</div>
                        <div class="uk-text-light">View a summary of your selections before you proceed</div>
                      </div>

                      <div class="uk-margin-medium-bottom summarySection">

                        <table>
                          <tr>
                            <th>Selected file</th>
                            <td>{{file?.name}}</td>
                          </tr>
                          <tr>
                            <th>Year from</th>
                            <td>{{patentInputs.from}}</td>
                          </tr>
                          <tr>
                            <th>Year to</th>
                            <td>{{patentInputs.to}}</td>
                          </tr>
                          <tr>
                            <th>Indicators</th>
                            <td><span *ngFor="let indicator of patentInputs.indicators; let i=index">{{(i == 0 ? '' : ', ') + indicator}}</span></td>
                          </tr>
                          <tr>
                            <th>Metadata</th>
                            <td><span *ngFor="let metadata of patentInputs.metadata; let i=index">{{(i == 0 ? '' : ', ') + metadata}}</span></td>
                          </tr>
                        </table>
                      </div>

                      <div class="uk-text-center uk-margin-top uk-margin-large-bottom">
                        <button type="button" class="uk-button uk-button-primary uk-width-1-1" (click)="submitJob()">Submit</button>
                      </div>
                    </li>
                  </ul>

                  <ul class="uk-dotnav uk-flex uk-flex-center uk-margin-medium-bottom">
                    <li [ngClass]="{'uk-active': tabIndex === 0}"><a (click)="showSwitcherTab(0)">Item 1</a></li>
                    <li [ngClass]="{'uk-active': tabIndex === 1, 'uk-disabled': !stepComplete(0)}">
                      <a (click)="showSwitcherTab(1)">Item 2</a>
                    </li>
                    <li [ngClass]="{'uk-active': tabIndex === 2, 'uk-disabled': !(stepComplete(1) && stepComplete(0))}">
                      <a (click)="showSwitcherTab(2)">Item 3</a>
                    </li>
                    <li [ngClass]="{'uk-active': tabIndex === 3, 'uk-disabled': !stepComplete(2)}">
                      <a (click)="showSwitcherTab(3)">Item 4</a>
                    </li>
                    <li [ngClass]="{'uk-active': tabIndex === 4, 'uk-disabled': !stepComplete(3)}">
                      <a (click)="showSwitcherTab(4)">Item 4</a>
                    </li>
                  </ul>

                </div>
              </div>

            </div>
<!--            <pre>{{patentInputs | json}}</pre>-->
          </div>
        </div>

      </div>

      <div class="uk-container uk-container-expand" [ngClass]="{'uk-display-none': !submitSuccess}">
        <app-success-page></app-success-page>
      </div>

    </div>
  </div>
</div>
