/* You can add global styles to this file, and also import other style files */

/* opix SCSS */
@import '../assets/scss/opix-custom';
@import '../assets/scss/wizard-tabs.css';

.ng-dropdown-panel {
  width: auto !important;
  min-width: 100%;
}

.ng-select.auto-height {
  height: auto !important;
}

.ng-select.auto-height .ng-select-container {
  height: auto !important;
}
