<aside id="sidebar_main">
  <div class="menu_section">
    <ul>
      <li [routerLinkActive]="['current_section']" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/search']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">search</span>
          <span class="menu_title">Browse Datasets</span>
        </a>
      </li>
      <li [routerLinkActive]="['current_section']">
        <a [routerLink]="['/search/tool']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">search</span>
          <span class="menu_title">Browse Tools</span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="userInfo?.roles && (hasRole('OPERATOR_DATASET-OWNER') || hasRole('OPERATOR_DATASET-INGESTOR'))"
       class="menu_section border_top">
    <h6 class="uk-flex uk-flex-center header">Dataset</h6>
    <ul>
      <li *ngIf="hasRole('OPERATOR_DATASET-OWNER')" [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['requests', 'create']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">input</span>
          <span class="menu_title">Request Dataset</span>
        </a>
      </li>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['requests', 'all']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">file_download</span>
          <span class="menu_title">Dataset Requests</span>
        </a>
      </li>
      <li *ngIf="hasRole('OPERATOR_DATASET-INGESTOR')" [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['form', 'datasetType']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">Register Dataset</span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="userInfo?.roles && hasRole('OPERATOR_DATA-PROCESSOR')" class="menu_section border_top">
    <h6 class="uk-flex uk-flex-center">Data</h6>
    <ul>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['request-data']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">download</span>
          <span class="menu_title">Request Data</span>
        </a>
      </li>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['browseJobs']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">storage</span>
          <span class="menu_title">My Data Requests</span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="userInfo?.roles && hasRole('OPERATOR_DEVELOPER')" class="menu_section border_top">
    <h6 class="uk-flex uk-flex-center">Tools</h6>
    <ul>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['/form/tool']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">Register tool</span>
        </a>
      </li>
    </ul>
  </div>
  <div *ngIf="userInfo?.roles && hasRole('OPERATOR_DEVELOPER')" class="menu_section border_top">
    <h6 class="uk-flex uk-flex-center">Models</h6>
    <ul>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['/form/model']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">Register model</span>
        </a>
      </li>
    </ul>
  </div>

</aside><!-- main sidebar end -->
