#sidebar_main #sidebar_toggle:hover {
  background-color: var(--intelcomp-light-color) !important;
  color: var(--white);
}

#sidebar_main {
  background-color: var(--intelcomp-dark-color);
  color: var(--white);
  /*max-height: calc(100svh - var(--header-height));*/
  /*overflow-y: auto;*/
  /*overflow-x: hidden;*/
}

#sidebar_main .menu_section .material-icons {
  color: var(--white) !important;
}

.menu_section .current_section .material-icons {
  background-color: var(--intelcomp-light-color) !important;
  /*color: var(--white);*/
}

#sidebar_main .menu_section > ul > li > a {
  color: var(--white) !important;
}

#sidebar_main .menu_section > ul > li.current_section a {
  color: var(--white) !important;
}

#sidebar_main .menu_section h6 {
  color: var(--intelcomp-light-color);
}
