<aside id="sidebar_main" >

  <div id="sidebar_toggle" class="" (click)="toggleSidebar()"></div>

  <div class="menu_section uk-margin-medium-top">
    <ul>
      <li [routerLinkActive]="['current_section']">
        <a [routerLink]="['/dashboard']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">dashboard</span>
          <span class="menu_title">Dashboard</span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="userInfo?.roles && (hasRole('OPERATOR_DATASET-OWNER') || hasRole('OPERATOR_DATASET-INGESTOR'))"
       class="menu_section border_top">
    <div class="header uk-text-light uk-text-uppercase uk-margin-remove uk-text-primary">Resources</div>
    <ul>
      <li *ngIf="hasRole('OPERATOR_DATASET-OWNER')" [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['requests', 'create']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">input</span>
          <span class="menu_title">Request Resource</span>
        </a>
      </li>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['requests', 'all']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">file_download</span>
          <span class="menu_title">Resource Requests</span>
        </a>
      </li>
      <li *ngIf="hasRole('OPERATOR_DATASET-INGESTOR')" [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['form', 'datasetType']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">Register Resource</span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="userInfo?.roles && hasRole('OPERATOR_DATA-PROCESSOR')" class="menu_section border_top">
    <div class="header uk-text-light uk-text-uppercase uk-margin-remove uk-text-primary">Data</div>
    <ul>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['request-data']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">download</span>
          <span class="menu_title">Request Data</span>
        </a>
      </li>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['browseJobs']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">storage</span>
          <span class="menu_title">My Data Requests</span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="userInfo?.roles && hasRole('OPERATOR_DEVELOPER')" class="menu_section border_top">
    <div class="header uk-text-light uk-text-uppercase uk-margin-remove uk-text-primary">Tools / Models</div>
    <ul>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['/form/tool']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">Register tool</span>
        </a>
      </li>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['/form/ai_model']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">Register model</span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="userInfo?.roles && (hasRole('OPERATOR-WORKFLOW_PROCESSOR') && hasRole('EASTER'))" class="menu_section border_top">
    <div class="header uk-text-light uk-text-uppercase uk-margin-remove uk-text-primary">Datasets</div>
    <ul>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['/datasets/upload']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">upload</span>
          <span class="menu_title">Upload dataset</span>
        </a>
      </li>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['/datasets/my']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">file_copy</span>
          <span class="menu_title">My datasets</span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="userInfo?.roles && hasRole('OPERATOR-WORKFLOW_PROCESSOR')" class="menu_section border_top">
    <div class="header uk-text-light uk-text-uppercase uk-margin-remove uk-text-primary">Analyses</div>
    <ul>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['/workflowSearch']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">My Jobs</span>
        </a>
      </li>
    </ul>
  </div>

</aside><!-- main sidebar end -->
