<router-outlet></router-outlet><ng-container *ngIf="isNotDashboard() ; else dashboard">
  <app-top-menu-landing></app-top-menu-landing>
  <div class="header-margin uk-visible@m"></div>
  <router-outlet></router-outlet>
  <!--<app-footer-intelcomp></app-footer-intelcomp>-->
</ng-container>

<ng-template #dashboard>
  <!--NO MOBILE-->
  <div *ngIf="screenWidth>=960 ; else mobile" class="">
    <div id="sidebar_main_content" class="sidebar_main_swipe sidebar_main_active" [class.sidebar_main_active]="open">
      <app-top-menu-landing></app-top-menu-landing>
      <div class="header-margin uk-visible@m"></div>
      <app-side-menu-dashboard></app-side-menu-dashboard>

      <div id="page_content">
        <router-outlet></router-outlet>
      </div>

      <div style="margin-left: 280px">
        <!--<pages-footer></pages-footer>-->
      </div>

    </div>
  </div>

  <!--MOBILE-->
  <ng-template #mobile>
    <div class="">
      <app-top-menu-landing></app-top-menu-landing>

      <div>
        <router-outlet></router-outlet>
      </div>
      <app-dashboard-navigation-mobile></app-dashboard-navigation-mobile>
    </div>
  </ng-template>


</ng-template>

<!--<div id="offcanvas-usage" class="" uk-offcanvas="flip: true; overlay: true; bg-close: true">-->
<!--  <div class="uk-offcanvas-bar-light">-->
<!--    <button class="uk-offcanvas-close" type="button" uk-close></button>-->
<!--    <div class="summarySection filters-table">-->
<!--      <h5 class="">Filters</h5>-->
<!--    </div>-->
<!--&lt;!&ndash;    <app-analyses-filters [filters]="getFilters(job.callerAttributesObj)" [workflowType]="this.getWorkflowType(job.callerAttributesObj)"></app-analyses-filters>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

