<div *ngIf="survey" class="uk-grid">
  <h5 class="uk-width-1-2 uk-margin-bottom">{{survey.name}}</h5>
  <div class="uk-width-1-2">
    <button *ngIf="validate" class="uk-float-right uk-button uk-button-primary" (click)="validateForm()">Validate</button>
  </div>
  <p class="uk-margin-bottom">{{survey.notice}}</p>
</div>

<div class="uk-flex uk-flex-right">
  <button class="uk-button uk-button-secondary" (click)="generatePDF()">Download as pdf</button>
</div>

<!--Chapter Selection-->
<div *ngIf="survey" [ngClass]="{'uk-display-none': (survey.sections.length === 1 || !survey.sections[0].subSections)}">
  <ul class="chapter-tabs uk-tab" uk-switcher="connect: #top-navigation-tabs; animation: uk-animation-fade">
    <li class="" *ngFor="let section of survey.sections; trackBy: trackByMethod">
      <a (click)="showUnsavedChangesPrompt(section)">{{section.name}}
        <span *ngIf="chapterChangeMap.get(section.id)" class="material-icons md-10 uk-margin-small-left">circle</span></a>
    </li>
  </ul>
</div>


<pre *ngIf="errorMessage" id="errorAlert" class="uk-alert uk-alert-danger" style="border-width: 0">
  <a (click)="closeAlert()" class="uk-alert-close" uk-close></a>
  {{errorMessage}}
</pre>
<div *ngIf="successMessage" class="uk-alert uk-alert-success uk-animation-slide-top-small" id="successMessage">
  <p>{{successMessage}}</p>
</div>

<div *ngIf="ready; else showLoader">
  <ul id="top-navigation-tabs" #printPDF class="uk-switcher">
<!--    <div *ngIf="survey.sections[0].fields === null else singleDepth">-->
      <li *ngFor="let section of survey.sections let i = index">
        <app-chapter-edit [form]="getFormGroup(i)" [readonly]="readonly" [validate]="validate" [vocabularies]="vocabularies"
                          [tabsHeader]="tabsHeader" [chapter]="survey.sections[i]" [resourceType]="survey.resourceType"
                          [fields]="survey.sections[i].subSections ? survey.sections[i].subSections : survey.sections"
                          [surveyAnswerId]="" (submit)="onSubmit($event)" (chapterHasChanges)="setChapterChangesMap($event)">
        </app-chapter-edit>
      </li>
<!--    </div>-->
<!--    <ng-template #singleDepth>-->
<!--      <li>-->
<!--        <app-chapter-edit [answerValue]="" [form]="getFormGroup(sectionIndex)" [readonly]="readonly" [validate]="validate"-->
<!--                          [tabsHeader]="tabsHeader" [chapter]="survey"-->
<!--                          [fields]="survey.sections" [vocabularies]="vocabularies"-->
<!--                          [surveyAnswerId]="" (chapterHasChanges)="setChapterChangesMap($event)">-->
<!--        </app-chapter-edit>-->
<!--      </li>-->
<!--    </ng-template>-->
  </ul>
</div>

<ng-template #showLoader class="whiteFilm">
  <i class="loader-big" aria-hidden="true"></i>
</ng-template>

<!--<pre *ngIf="form">{{form.getRawValue() | json}}</pre>-->

<!-- Validation modal -->
<div id="validation-modal" uk-modal="esc-close: false; bg-close: false">
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Survey validation</h2>
    <p>The survey fields will be validated and if all required fields are present it will be locked and it will not be
    editable until unlocked.</p>
    <p class="uk-text-right">
      <button class="uk-button uk-button-secondary uk-modal-close" type="button">Close</button>
      <button class="uk-button uk-button-primary" type="button" (click)="validateForm()">I agree</button>
    </p>
  </div>
</div>

<!-- Unsaved changes modal -->
<div id="unsaved-changes-modal" uk-modal="esc-close: false; bg-close: false">
  <div class="uk-modal-dialog uk-modal-body">
<!--    <h2 class="uk-modal-title"></h2>-->
    <p>There are unsaved changes, do you want to submit them before moving on;</p>
    <p class="uk-text-right">
      <button class="uk-button uk-button-secondary uk-modal-close" type="button">I will do it later</button>
      <button class="uk-button uk-button-primary" type="button" (click)="onSubmit(null)">Submit now</button>
    </p>
  </div>
</div>
