<div class="uk-container uk-container-xsmall uk-section uk-section-default uk-section-small">

  <div class="uk-margin-xlarge-top" uk-grid>
    <span class="uk-width-1-1 uk-flex uk-flex-center material-icons md-48" style="color: #00B929">task_alt</span>
    <h4 class="uk-width-1-1 uk-flex uk-flex-center">Job submitted successfully!</h4>
    <span class="uk-width-1-1 uk-flex uk-flex-center uk-text-muted">
        You will be redirected in &nbsp;<span style="color: var(--primary-color)">{{display + ' seconds'}}</span>
      </span>
    <div class="uk-width-1-1 uk-flex uk-flex-center">
      <button class="uk-button uk-button-primary" type="button" [routerLink]="['/home']">Back to home</button>
    </div>
  </div>

</div>
