<div class="uk-section uk-section-primary uk-preserve-color uk-padding-remove" uk-height-viewport="offset-bottom: 30">
  <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-2@l">

    <div class="uk-flex-last@m uk-flex-last@l">
      <img src="../assets/images/hero2.png">
    </div>

    <div class="uk-first-column">
      <div class="uk-padding-large uk-margin-large-left@m uk-margin-large-left@l uk-margin-large-top">
        <div class="h1-subHeader">Gaining insights</div>
        <h1>Create value from data</h1>
        <p class="big-text uk-margin-medium-top">
          The Opix.AI analytics platform <br>
          end-to-end solutions for policy analysis.
        </p>
      </div>
    </div>

  </div>
</div>

<div class="uk-section uk-section-default uk-padding-remove-top">
  <div class="uk-padding-large uk-margin-large-left@m uk-margin-large-left@l">
    <h2>Our Solutions</h2>
  </div>
  <div class="uk-container uk-container-medium">
<!--    <h2>Our Solutions</h2>-->
    <div class="uk-grid uk-grid-large uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-1@s" uk-grid="masonry: true; parallax: 250">
      <div class="uk-grid-margin">
        <div class="uk-card uk-card-default service-list-card">
          <div class="uk-card-media-top">
            <img src="../assets/images/patent_1.jpg" alt="">
          </div>
          <div class="uk-card-body uk-flex uk-flex-column uk-flex-between">
            <div>
<!--              <div class="h5-subheader">{{service.name}}</div>-->
              <h5 class="">Patent Analytics</h5>

              <div class="el-content uk-panel uk-text-left uk-margin-medium-top">
                <ul class="uk-list uk-list-large">
                  <li class="ng-star-inserted">
                    <div uk-grid="" class="uk-grid-small uk-grid ng-star-inserted">
                      <div class="uk-width-auto uk-first-column">
                        <img src="/demo/devstack/images/check.svg" uk-svg="" class="uk-text-success" hidden="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" class="uk-text-success uk-svg"><path d="M4.35,9a.74.74,0,0,1-.52-.22L.45,5.43a.79.79,0,0,1,0-1.09.74.74,0,0,1,1.05,0h0L4.32,7.13,10.42.25a.73.73,0,0,1,1,0l0,0a.77.77,0,0,1,0,1.08L4.91,8.75A.78.78,0,0,1,4.38,9Z"></path></svg>
                      </div>
                      <div class="uk-width-expand">Analyze the patent landscape and provide patent mapping in specific sectors and tech areas</div>
                    </div>
                  </li>
                  <li class="ng-star-inserted">
                    <div uk-grid="" class="uk-grid-small uk-grid ng-star-inserted">
                      <div class="uk-width-auto uk-first-column">
                        <img src="/demo/devstack/images/check.svg" uk-svg="" class="uk-text-success" hidden="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" class="uk-text-success uk-svg"><path d="M4.35,9a.74.74,0,0,1-.52-.22L.45,5.43a.79.79,0,0,1,0-1.09.74.74,0,0,1,1.05,0h0L4.32,7.13,10.42.25a.73.73,0,0,1,1,0l0,0a.77.77,0,0,1,0,1.08L4.91,8.75A.78.78,0,0,1,4.38,9Z"></path></svg>
                      </div>
                      <div class="uk-width-expand">Understand the position of specific companies and obtain deeper insights into different technologies and innovations</div>
                    </div>
                  </li>
                  <li class="ng-star-inserted">
                    <div uk-grid="" class="uk-grid-small uk-grid ng-star-inserted">
                      <div class="uk-width-auto uk-first-column">
                        <img src="/demo/devstack/images/check.svg" uk-svg="" class="uk-text-success" hidden="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" class="uk-text-success uk-svg"><path d="M4.35,9a.74.74,0,0,1-.52-.22L.45,5.43a.79.79,0,0,1,0-1.09.74.74,0,0,1,1.05,0h0L4.32,7.13,10.42.25a.73.73,0,0,1,1,0l0,0a.77.77,0,0,1,0,1.08L4.91,8.75A.78.78,0,0,1,4.38,9Z"></path></svg>
                      </div>
                      <div class="uk-width-expand">Quantify technological impact into valuable indicators</div>
                    </div>
                  </li>
                  <li class="ng-star-inserted">
                    <div uk-grid="" class="uk-grid-small uk-grid ng-star-inserted">
                      <div class="uk-width-auto uk-first-column">
                        <img src="/demo/devstack/images/check.svg" uk-svg="" class="uk-text-success" hidden="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" class="uk-text-success uk-svg"><path d="M4.35,9a.74.74,0,0,1-.52-.22L.45,5.43a.79.79,0,0,1,0-1.09.74.74,0,0,1,1.05,0h0L4.32,7.13,10.42.25a.73.73,0,0,1,1,0l0,0a.77.77,0,0,1,0,1.08L4.91,8.75A.78.78,0,0,1,4.38,9Z"></path></svg>
                      </div>
                      <div class="uk-width-expand">Integrate results and findings into your own reports</div>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
            <div class="uk-margin-medium-top">
              <a [routerLink]="['/landing/patent-analytics']" class="uk-button uk-button-primary">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-grid-margin">
        <div class="uk-card uk-card-default service-list-card">
          <div class="uk-card-media-top">
            <img src="../assets/images/bibliometrics2.jpg" alt="">
          </div>
          <div class="uk-card-body uk-flex uk-flex-column uk-flex-between">
            <div>
<!--              <div class="h5-subheader">{{service.name}}</div>-->
              <h5 class="">Bibliometrics</h5>

              <div class="el-content uk-panel uk-text-left uk-margin-medium-top">
                <ul class="uk-list uk-list-large">
                  <li class="ng-star-inserted">
                    <div uk-grid="" class="uk-grid-small uk-grid ng-star-inserted">
                      <div class="uk-width-auto uk-first-column">
                        <img src="/demo/devstack/images/check.svg" uk-svg="" class="uk-text-success" hidden="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" class="uk-text-success uk-svg"><path d="M4.35,9a.74.74,0,0,1-.52-.22L.45,5.43a.79.79,0,0,1,0-1.09.74.74,0,0,1,1.05,0h0L4.32,7.13,10.42.25a.73.73,0,0,1,1,0l0,0a.77.77,0,0,1,0,1.08L4.91,8.75A.78.78,0,0,1,4.38,9Z"></path></svg>
                      </div>
                      <div class="uk-width-expand">Apply advanced bibliometric and scientometric methods to your data</div>
                    </div>
                  </li>
                  <li class="ng-star-inserted">
                    <div uk-grid="" class="uk-grid-small uk-grid ng-star-inserted">
                      <div class="uk-width-auto uk-first-column">
                        <img src="/demo/devstack/images/check.svg" uk-svg="" class="uk-text-success" hidden="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" class="uk-text-success uk-svg"><path d="M4.35,9a.74.74,0,0,1-.52-.22L.45,5.43a.79.79,0,0,1,0-1.09.74.74,0,0,1,1.05,0h0L4.32,7.13,10.42.25a.73.73,0,0,1,1,0l0,0a.77.77,0,0,1,0,1.08L4.91,8.75A.78.78,0,0,1,4.38,9Z"></path></svg>
                      </div>
                      <div class="uk-width-expand">Analyze scholarly literature and conduct citation and content analysis for specific disciplines and Fields-of-Science</div>
                    </div>
                  </li>
                  <li class="ng-star-inserted">
                    <div uk-grid="" class="uk-grid-small uk-grid ng-star-inserted">
                      <div class="uk-width-auto uk-first-column">
                        <img src="/demo/devstack/images/check.svg" uk-svg="" class="uk-text-success" hidden="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" class="uk-text-success uk-svg"><path d="M4.35,9a.74.74,0,0,1-.52-.22L.45,5.43a.79.79,0,0,1,0-1.09.74.74,0,0,1,1.05,0h0L4.32,7.13,10.42.25a.73.73,0,0,1,1,0l0,0a.77.77,0,0,1,0,1.08L4.91,8.75A.78.78,0,0,1,4.38,9Z"></path></svg>
                      </div>
                      <div class="uk-width-expand">Understand the position and impact of specific Project Portfolios providing evidence on science and tech policies</div>
                    </div>
                  </li>
                  <li class="ng-star-inserted">
                    <div uk-grid="" class="uk-grid-small uk-grid ng-star-inserted">
                      <div class="uk-width-auto uk-first-column">
                        <img src="/demo/devstack/images/check.svg" uk-svg="" class="uk-text-success" hidden="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" class="uk-text-success uk-svg"><path d="M4.35,9a.74.74,0,0,1-.52-.22L.45,5.43a.79.79,0,0,1,0-1.09.74.74,0,0,1,1.05,0h0L4.32,7.13,10.42.25a.73.73,0,0,1,1,0l0,0a.77.77,0,0,1,0,1.08L4.91,8.75A.78.78,0,0,1,4.38,9Z"></path></svg>
                      </div>
                      <div class="uk-width-expand">Quantify scientific impact into valuable metrics and indicators</div>
                    </div>
                  </li>
                  <li class="ng-star-inserted">
                    <div uk-grid="" class="uk-grid-small uk-grid ng-star-inserted">
                      <div class="uk-width-auto uk-first-column">
                        <img src="/demo/devstack/images/check.svg" uk-svg="" class="uk-text-success" hidden="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" class="uk-text-success uk-svg"><path d="M4.35,9a.74.74,0,0,1-.52-.22L.45,5.43a.79.79,0,0,1,0-1.09.74.74,0,0,1,1.05,0h0L4.32,7.13,10.42.25a.73.73,0,0,1,1,0l0,0a.77.77,0,0,1,0,1.08L4.91,8.75A.78.78,0,0,1,4.38,9Z"></path></svg>
                      </div>
                      <div class="uk-width-expand">Integrate results and findings into your own reports, facilitating monitoring of research and assessment of funder(s) contributions</div>
                    </div>
                  </li>
                </ul>
              </div>

            </div>
            <div class="uk-margin-medium-top">
              <a [routerLink]="['/landing/bibliometric-analysis']" class="uk-button uk-button-primary">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-grid-margin">
        <div class="uk-card uk-card-default service-list-card">
          <div class="uk-card-media-top">
            <img src="../assets/images/solution3.jpg" alt="">
          </div>
          <div class="uk-card-body uk-flex uk-flex-column uk-flex-between">
            <div>
              <!--              <div class="h5-subheader">{{service.name}}</div>-->
              <h5 class="">Digital Transformation</h5>
              <p>
                Technology uptake in different sectors: textile, energy, health, retail, ....
              </p>
            </div>
            <div class="">
              <a href="#" class="uk-button uk-button-link uk-disabled">Coming soon..</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
