<aside id="sidebar_main">
<!--  <pre>{{currentGroup | json}}</pre>-->
  <div class="menu_section">
    <ul>

      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['search']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">search</span>
          <span class="menu_title">Browse Datasets</span>
        </a>
      </li>

    </ul>
  </div>

  <div class="menu_section border_top">
    <ul *ngIf="userInfo?.roles && hasRole('OPERATOR_DATA-PROCESSOR')">

      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['request-data']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">download</span>
          <span class="menu_title">Request Data</span>
        </a>
      </li>

      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['browseJobs']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">storage</span>
          <span class="menu_title">My Data Requests</span>
        </a>
      </li>

    </ul>

    <ul *ngIf="userInfo?.roles && hasRole('OPERATOR_DATASET-OWNER')">
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['requests', 'create']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">Request Dataset</span>
        </a>
      </li>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['requests', 'all']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">Dataset Requests</span>
        </a>
      </li>
    </ul>

    <ul *ngIf="userInfo?.roles && hasRole('OPERATOR_DATASET-INGESTOR')">
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['requests', 'all']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">Dataset Requests</span>
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="userInfo?.roles && hasRole('OPERATOR_DATASET-INGESTOR')" class="menu_section border_top">
    <ul>
      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['form', 'm-ixQivyAM']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">description</span>
          <span class="menu_title">Create Dataset Metadata</span>
        </a>
      </li>

    </ul>
  </div>


</aside><!-- main sidebar end -->
