<aside id="sidebar_main">
<!--  <pre>{{currentGroup | json}}</pre>-->
  <div class="menu_section">
    <ul>

      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['search']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">search</span>
          <span class="menu_title">Browse Datasets</span>
        </a>
      </li>

    </ul>
  </div>

  <div class="menu_section border_top">
    <ul *ngIf="userInfo?.roles && hasRole('OPERATOR_DATA-PROCESSOR')">

      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['request-data']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">download</span>
          <span class="menu_title">Request Data</span>
        </a>
      </li>

      <li [routerLinkActive]="['current_section']" class="">
        <a [routerLink]="['browseJobs']" class="uk-flex uk-flex-middle">
          <span class="material-icons uk-margin-right">storage</span>
          <span class="menu_title">My Data Requests</span>
        </a>
      </li>

    </ul>
  </div>

  <!--<div class="menu_section border_top sidebar-footer">-->
    <!--<ul>-->

      <!--<li>-->
        <!--<a class="uk-flex uk-flex-middle" href="mailto:stefania.martziou@athenarc.gr">-->
          <!--<span class="material-icons uk-margin-right">help</span>-->
          <!--<span class="menu_title uk-flex uk-flex-middle">-->
            <!--<span>Support</span>-->
            <!--<span class="material-icons md-18 uk-margin-left">forward_to_inbox</span>-->
          <!--</span>-->
        <!--</a>-->
      <!--</li>-->

      <!--<li>-->
        <!--<a class="uk-flex uk-flex-middle">-->
          <!--<span class="material-icons uk-margin-right">policy</span>-->
          <!--<span class="menu_title uk-flex uk-flex-middle">-->
            <!--<span>Privacy policy</span>-->
            <!--<span class="material-icons md-18 uk-margin-left">open_in_new</span>-->
          <!--</span>-->
        <!--</a>-->
      <!--</li>-->

    <!--</ul>-->
  <!--</div>-->

</aside><!-- main sidebar end -->
