@import url("https://use.typekit.net/dwa4ieu.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

/*:root {*/
  /*--primary-color: #004494;*/
  /*--link-color: #2D72D6;*/
  /*--link-hover-color: #3665ab;*/
  /*--breadcrumb-active-color: #26C0E2;*/
  /*--button-primary-hover-background-color: #1E95B0;*/
  /*--button-secondary-color: #fff;*/
  /*--button-secondary-background-color: #26C0E2;*/
  /*--button-secondary-hover-background-color: #1E95B0;*/
/*}*/

:root {

  --primary-color-background: #ffcce2;

  --intelcomp-light-color: #ff006e;
  --intelcomp-dark-color: #151F2E;

  //--sidebar-width: 320px;
  --sidebar-width: 240px;
  //--sidebar-width-invert: -320px;
  --sidebar-width-invert: -240px;
  //--toggle-sidebar-closed: 338px;
  --toggle-sidebar-closed: 258px;
  --dashboard-transition-delay: 0.25s;
  //--sidebar-font-size: 16px;
  --sidebar-font-size: 14px;
  //--sidebar-width: 280px;
  //--header-height: 80px;


  --white: #fff;

  --main-font-family: 'Aileron';
  --secondary-font-family: 'Bitter';
  --black: #1A1A1A;
  --grey: #6E6E6E;
  --catalogue-light-purple: #AD20E7;
  --catalogue-dark-purple: #1D193C;
  --light-grey: #F9F9F9;
  --medium-grey: #F5F5F5;
  --dark-grey: #2B2B2B;
  --eosc-blue: #3A75AB;
  --openaire-light-blue: #3086ED;
  --default-element-bg: #DEDEDE;


  --grey-900: #2C2C2C;
  --grey-700: #6E6E6E;


  --primary-color: #ff006e;
  /*--primary-color: #AD20E7;*/
  --link-color: #2D72D6;
  --link-hover-color: #3665ab;
  --breadcrumb-active-color: #4687E6;
  --button-primary-hover-background-color: #9FCC52;
  --button-secondary-color: #fff;
  --button-secondary-background-color: #3086ED;
  --button-secondary-hover-background-color: #0053ba;

  --logo: url('../../assets/images/intelcomp-logo.svg');
  --logo-height: 40px;
  --home-hero-image: url('https://intelcomp.eu/sites/default/files/2022-09/img-background-2.png');

  --header-height: 60px;
}

body {
  font-family: var(--main-font-family), sans-serif !important;
  color: var(--black) !important;
  background-color: var(--medium-grey) !important;
  font-size: 16px;
  opacity: 1;
}

/*.uk-container-xlarge {*/
  /*max-width: 1500px;*/
/*}*/

.uk-section-default {
  background-color: var(--medium-grey) !important;
}

.uk-section-secondary {
  background-color: var(--intelcomp-dark-color);
  color: var(--light-grey);
  /*background-color: #fafafa;*/
  /*color: #424242 !important;*/
}

.uk-section-primary {
  /*background-color: #222080;*/
  background-color: #fff;
  background-image: none;
}

.uk-padding-xlarge {
  padding: 100px;
}

.uk-background-default {
  background-color: #fff;
}

.uk-background-secondary {
  background-color: var(--intelcomp-dark-color);
}

.uk-text-normal {
  font-weight: 400 !important;
}

.uk-display-none {
  display: none;
}

.sidebar_main_active #page_content {
  //margin-left: 280px;
  margin-left: var(--sidebar-width);
}

.header-margin {
  margin-top: var(--header-height);
}

.home-hero {
  min-height: 900px;
  background-image: var(--home-hero-image);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ========================================================================
  Label - custom
========================================================================== */

.uk-label-secondary {
  background: var(--grey);
}

/* ========================================================================
  Link - overrides
========================================================================== */

//a, .uk-link {
//  color: var(--intelcomp-dark-color);
//}

/* ========================================================================
   Sidebar - overrides
 ========================================================================== */

.sidebar_main_swipe #sidebar_main .menu_section .header {
  padding: 10px 20px;
}

.sidebar_main_swipe #sidebar_main .menu_section > ul > li > a {
  padding: 5px 20px;
}

#sidebar_main .menu_section {
  padding-bottom: 15px;
  padding-top: 15px;
}

#sidebar_main .menu_section.border_top {
  border-top: 1px solid #6E6E6E;
}

/* ========================================================================
   Modal - custom
 ========================================================================== */

.uk-modal.modal-secondary .uk-modal-header {
  background-color: var(--intelcomp-dark-color);
}

.uk-modal.modal-secondary .uk-modal-header h4.uk-modal-title {
  color: var(--white);
}

.uk-modal.modal-secondary .uk-modal-close-full {
  background: transparent;
}

.uk-modal.modal-secondary .uk-close {
  color: var(--white);
}

/* ========================================================================
   Dropdown - custom
 ========================================================================== */

.filters-dropdown {
  max-width: 400px !important;
  overflow-wrap: break-word;
}

/* ========================================================================
   Table - custom
 ========================================================================== */

//.table-simple.uk-table thead tr {
//  background-color: var(--primary-color-background);
//  border-radius: 6px;
//}
//
//.table-simple.uk-table th {
//  text-transform: none;
//}

.card-table.uk-table thead tr {
  background-color: var(--primary-color-background);
}

.card-table.uk-table th {
  text-transform: none;
}

.card-table.uk-table th.extra-left-padding, .card-table.uk-table td.extra-left-padding {
  padding-left: 30px;
}

.card-table.uk-table th.extra-right-padding, .card-table.uk-table td.extra-right-padding {
  padding-right: 30px;
}

.card-table td {
  font-size: 14px;
}

.bordered-table.uk-table {
  border: 1px solid #e5e5e5;

}

.bordered-table.uk-table th:not(:first-child), .bordered-table.uk-table td:not(:first-child) {
  border-left: 1px solid #e5e5e5;
  text-align: center;
}

.bordered-table.uk-table th {
  font-size: 12px;
  color: #4e555b;
}

.bordered-table.uk-table td {
  font-size: 13px;
}

/* ========================================================================
   Margins
 ========================================================================== */

.uk-margin-xlarge-top {
  margin-top: 100px !important;
}

.uk-margin-xlarge-bottom {
  margin-bottom: 100px !important;
}

/* ========================================================================
   Color and Typography
 ========================================================================== */

h1, h2, h3, h4, h5, h6 {
  color: var(--grey-900);
  /*text-align: left;*/
  letter-spacing: 0px;
  opacity: 1;
}

h1 {
  font: normal normal 600 66px/83px var(--main-font-family) !important;
}

h2 {
  font: normal normal 600 52px/65px var(--main-font-family) !important;
}

h3 {
  font: normal normal 600 41px/51px var(--main-font-family) !important;
}

h4 {
  font: normal normal 600 32px/40px var(--main-font-family) !important;
}

h5 {
  font: normal normal 600 26px/33px var(--main-font-family) !important;
}

h6 {
  font: normal normal 600 20px/27px var(--main-font-family) !important;
}

.h1-subHeader {
  color: var(--intelcomp-light-color);
  /*text-align: left;*/
  font: normal normal normal 20px/27px var(--main-font-family);
  letter-spacing: 0px;
  opacity: 1;
  margin-bottom: 0.5em;
}

.h2-subHeader-blue {
  color: var(--eosc-blue);
  /*text-align: left;*/
  font: normal normal 600 20px/27px var(--main-font-family);
  letter-spacing: 0px;
  opacity: 1;
  margin-bottom: 0.5em;
}

.h5-subheader {
  color: var(--catalogue-light-purple);
  /*text-align: left;*/
  font: normal normal normal 16px/24px var(--main-font-family);
  letter-spacing: 0px;
  opacity: 1;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 960px) {

  h1 {
    font: normal normal 600 41px var(--main-font-family) !important;
  }

  h2 {
    font: normal normal 600 36px var(--main-font-family) !important;
  }

  h5 {
    font: normal normal 600 23px var(--main-font-family) !important;
  }

  .h1-subHeader {
    font: normal normal normal 18px var(--main-font-family);
  }

  .h2-subHeader-blue {
    font: normal normal 600 18px var(--main-font-family);
  }
}

p.x-large-text {
  /*color: var(--black);*/
  font: normal normal normal 27px/34px var(--main-font-family);
  letter-spacing: 0px;
  opacity: 1;
}

p.big-text {
  /*color: var(--black);*/
  /*text-align: left;*/
  font: normal normal normal 22px/29px var(--main-font-family);
  letter-spacing: 0px;
  opacity: 1;
}

p.big-text-header {
  /*color: var(--black);*/
  /*text-align: left;*/
  font: normal normal normal 27px/41px var(--main-font-family);
  letter-spacing: 0px;
  opacity: 1;
}

p.regular-text {
  /*color: var(--black);*/
  /*text-align: left;*/
  font: normal normal normal 16px/24px var(--main-font-family);
  letter-spacing: 0px;
  opacity: 1;
}

dt {
  color: var(--black);
  /*text-align: left;*/
  font: normal normal bold 16px/24px var(--main-font-family);
  letter-spacing: 0;
  opacity: 1;
}

dd {
  color: var(--black);
  /*text-align: left;*/
  font: normal normal normal 14px/22px Aileron;
  letter-spacing: 0.14px;
  opacity: 1;
}

.uk-text-primary {
  color: var(--primary-color) !important;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ========================================================================
   Divider
 ========================================================================== */

hr {
  border: 1px solid var(--default-element-bg);
}

.browse-dropdown-menu hr {
  border: 2px solid var(--default-element-bg);
}

/* ========================================================================
   Links
 ========================================================================== */

.eosc-link.uk-link, a.eosc-link {
  color: var(--eosc-blue);
}

a {
  color: var(--intelcomp-light-color);
  text-decoration: none;
}

a:hover {
  color: var(--black);
  text-decoration: none;
}

a.footerLink:hover {
  color: #fff;
}

/* ========================================================================
   Buttons
 ========================================================================== */

.uk-button {
  /*font: normal normal bold 12px/15px var(--main-font-family);*/
  /*letter-spacing: 0px;*/
  font-size: 14px;
}

.uk-card-media {
  border-radius: 6px;
}

.uk-button-text {
  text-transform: uppercase;
  color: var(--catalogue-light-purple);
  font: normal normal normal 16px/92px var(--main-font-family);
  letter-spacing: -0.4px;
}

.uk-button-text::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2211%22%20viewBox%3D%220%200%2020%2011%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23AD20E7%22%20stroke-width%3D%221.2%22%20points%3D%2213%201%2018%205.5%2013%2010%20%22%2F%3E%0A%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%23AD20E7%22%20stroke-width%3D%221.2%22%20x1%3D%220%22%20y1%3D%225.5%22%20x2%3D%2218.4%22%20y2%3D%225.5%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.uk-button-text:hover {
  color: var(--openaire-light-blue);
}

.uk-button-text:focus::before, .uk-button-text:hover::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2211%22%20viewBox%3D%220%200%2020%2011%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%233086ED%22%20stroke-width%3D%221.2%22%20points%3D%2213%201%2018%205.5%2013%2010%20%22%2F%3E%0A%20%20%20%20%3Cline%20fill%3D%22none%22%20stroke%3D%22%233086ED%22%20stroke-width%3D%221.2%22%20x1%3D%220%22%20y1%3D%225.5%22%20x2%3D%2218.4%22%20y2%3D%225.5%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.uk-button-primary {
  background-color: var(--intelcomp-light-color);
  /*font: normal normal bold 12px/15px var(--main-font-family);*/
  border-radius: 60px;
  opacity: 1;
  text-transform: uppercase;
  border: none;
}

.uk-button-primary:hover {
  background-color: var(--intelcomp-dark-color);
}

.uk-card-primary.uk-card-body .uk-button-primary, .uk-card-primary > :not([class*="uk-card-media"]) .uk-button-primary {
  color: var(--catalogue-light-purple);
}

.uk-card-primary.uk-card-body .uk-button-primary:hover, .uk-card-primary > :not([class*="uk-card-media"]) .uk-button-primary:hover {
  background-color: #fff;
  color: var(--grey);
}

.uk-button-default {
  text-transform: uppercase;
  color: var(--catalogue-light-purple);
}

.uk-button-default:hover {
  text-transform: uppercase;
  color: var(--grey);
}

.uk-button-secondary {
  text-transform: uppercase;
  border: 1px solid var(--catalogue-light-purple);
  color: var(--catalogue-light-purple);
}

.uk-button-secondary:hover {
  background: transparent linear-gradient(254deg, var(--openaire-light-blue) 0%, var(--catalogue-light-purple) 100%) 0 0 no-repeat padding-box;
}

a.uk-button {
  line-height: 50px;
}

a.uk-icon-button {
  text-decoration: none;
}



.uk-button-blue {
  background: var(--openaire-light-blue) 0 0 no-repeat padding-box;
  font: normal normal bold 12px/15px var(--main-font-family);
  border-radius: 60px;
  opacity: 1;
  text-transform: uppercase;
  padding: 12px 30px;
  color: #fff;
}

/* ========================================================================
   Menus
 ========================================================================== */




.uk-navbar-dropbar {
  background-color: #fff;
  color: var(--dark-grey);
}

.navbar .nav > li > .dropdown-menu, .uk-navbar-dropdown {
  padding: 20px 0;
  color: var(--dark-grey);
  font: normal normal normal 16px/24px Aileron;
  letter-spacing: 0px;
}

.default-menu-item {
  font: normal normal normal 14px/22px var(--main-font-family) !important;
  text-transform: capitalize !important;
  color: var(--black) !important;
  text-align: left !important;
  letter-spacing: 0.14px !important;
  opacity: 1 !important;
}

.browse-dropdown-menu .services a {
  color: var(--black) !important;
  text-decoration: none;
}

.help-section a {
  color: var(--catalogue-light-purple) !important;
  text-decoration: none;
}

.help-section a:hover {
  color: var(--openaire-light-blue) !important;
}

/*.service-menu {*/
  /*margin-top: -10px;*/
/*}*/

.service-menu .uk-navbar-container {
  background-color: var(--catalogue-dark-purple);
  color: #fff;
}

.service-menu > .uk-active {
  background-color: #fff;
  color: #fff;
}

.service-menu-item {
  font: normal normal normal 14px/22px var(--main-font-family) !important;
  text-transform: capitalize !important;
  color: #fff !important;
  text-align: left !important;
  letter-spacing: 0.14px !important;
  opacity: 1 !important;
}

.service-menu > .uk-active .service-menu-item {
  color: var(--black) !important;
}

.uk-active > .service-menu-item {
  font: normal normal 600 14px/22px var(--main-font-family) !important;
  color: var(--catalogue-light-purple) !important;
  text-decoration-line: underline !important;
  text-underline-offset: 5px;
  text-decoration-thickness: 1.5px;
}

a.service-menu-item:hover {
  color: #fff !important;
}

.service-menu > .uk-active .uk-active > .service-menu-item {
  color: var(--catalogue-light-purple) !important;
}

.service-menu > :not(.uk-active) .uk-navbar-left {
  display: none;
}

.uk-navbar-nav > li.uk-active > a::before, .uk-navbar-nav > li:hover > a::before {
  background-color: transparent;
}

.uk-navbar-nav > li > a::before {
  background-image: none;
}

@media only screen and (max-width: 960px) {

  .uk-navbar-container:not(.uk-navbar-transparent) {
    background: #fff;
    opacity: 1;
  }

  .uk-navbar-toggle, .uk-navbar-toggle:focus {
    color: var(--grey-900);
  }

  .help-section {
    font-size: 20px;
  }

  .service-tabs.uk-tab {
    flex-wrap: nowrap;
    overflow-x: auto;
    background: var(--catalogue-dark-purple);
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 0px;
  }

  .service-tabs.uk-tab > .uk-active > a {
    border: none;
  }

  .service-tabs.uk-tab > .uk-active > a {
    color: var(--catalogue-light-purple) !important;
  }

  .service-tabs.uk-tab > * > a {
    color: #fff !important;
  }

  .service-tabs.uk-tab > li:not(.uk-active) > a {
    text-decoration: none;
  }

  #tm-mobile {
    overflow-y: hidden;
    overscroll-behavior: contain;
    //height: 90vh;
  }

  .tm-mobile-background {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
}


/* ========================================================================
   Cards
 ========================================================================== */

.uk-card .el-meta {
  font-weight: normal !important;
}

.uk-card-default {
  background: var(--light-grey) 0 0 no-repeat padding-box;
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);*/
  border-radius: 6px;
  opacity: 1;
  color: var(--black);
  font: normal normal normal 16px/22px var(--main-font-family);
  letter-spacing: 0.14px;
}

.uk-card-default .uk-card-title {
  color: var(--black);
}

.uk-card-primary {
  background: transparent linear-gradient(213deg, var(--openaire-light-blue) 0%, var(--catalogue-light-purple) 100%) 0% 0% no-repeat padding-box;
}

.uk-card-default.uk-card-hover:hover {
  background: var(--light-grey) 0 0 no-repeat padding-box;
}
/*.card-icon-no-button {*/
  /**/
/*}*/

/*.insight-info-card {*/
  /*background: var(--light-grey) 0 0 no-repeat padding-box;*/
  /*border-radius: 6px;*/
  /*opacity: 1;*/
/*}*/

/* ========================================================================
   Pricing
 ========================================================================== */



/* ========================================================================
   Sliders
 ========================================================================== */

.uk-slideshow-items > .uk-active {
  display: flex;
}

.uk-dotnav > * > * {
  width: 16px;
  height: 16px;
  background-color: var(--intelcomp-dark-color) !important;
  opacity: 0.4;
  border: none !important;
}

.uk-dotnav > .uk-active > * {
  background-color: var(--intelcomp-dark-color) !important;
  opacity: 1;
  width: 30px;
  border-radius: 45%;
}

.slider-image {

}

.slider-text {
  position: relative;
  /*left: -70px;*/
}

.slider-bold-background-header {
  text-align: left;
  font: normal normal bold 229px/286px Bitter;
  letter-spacing: 0px;
  color: #211F7E;
  opacity: 0.03;
  position: absolute;
  top: -80px;
  left: -80px;
  white-space: nowrap;
  overflow: clip;
  z-index: -10;
}

.slider-header {
  color: var(--black);
  /*text-align: left;*/
  font: normal normal normal 45px/56px var(--secondary-font-family);
  letter-spacing: 0px;
  opacity: 1;
}

.slider-description {
  color: var(--grey);
  /*text-align: left;*/
  font: normal normal normal 16px/24px var(--main-font-family);
  letter-spacing: 0px;
  opacity: 1;
}


/* ========================================================================
   Component: Footer
 ========================================================================== */

.footerSection {
  text-align: left;
  font: normal normal 300 12px/20px var(--main-font-family);
  letter-spacing: 0px;
  opacity: 1;
}

.footerLink {
  font: normal normal normal 16px/21px var(--main-font-family);
  text-decoration: none;
}

.newsletter-link {
  font: normal normal 600 19px/26px Open Sans;
}


/* ========================================================================
   Forms
 ========================================================================== */

.uk-tab-left > * > a {
  text-decoration: none;
}

.uk-input:not([class*="menuSearch"]) {
  background-color: #fff;
  //border: 1px solid var(--default-element-bg);
  border-radius: 4px;
  box-shadow: none;
}

.ng-select {
  //background-color: #fff;
  //border: 1px solid var(--default-element-bg);
  height: 40px !important;
}

.ng-select .ng-select-container {
  height: 40px !important;
}

/* ========================================================================
   Pagination
 ========================================================================== */

.uk-pagination > * > * {
  box-shadow: none;
}

.uk-pagination > li.uk-active > a:hover {
  color: #fff;
}

/* ========================================================================
   Search
 ========================================================================== */

.refineOption > input {
  margin-right: 5px !important;
}

input[type="checkbox"] {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 1px 3px #00000026 !important;
  border: 0.5px solid #D4D4D5;
  border-radius: 4px !important;
}

.menuSearch {
  /*box-shadow: inset -10px -10px 13px #FFFFFFE6;*/
  border-radius: 54px;
  //width: 400px;
  background: #fff;
  padding: 20px 30px;
}

.menuSearchFields {
  height: 48px !important;
  background: #f7f7f7;
  width: 200px;
}

a.serviceDetails {
 text-decoration: none;
}

/*.serviceDetails .portfolioSection {*/
  /*width: 35px;*/
  /*background: #ececec 0% 0% no-repeat padding-box;*/
/*}*/

/*.serviceDetails .portfolioSection span {*/
  /*transform: rotate(-90deg);*/

  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*margin-left: -30px;*/

/*@include transform(rotate(270deg));*/
/*@include transform-origin(0 0);*/
/*}*/

.service-details-card-content {
  display: block;
  position: relative;
  margin: 40px 0;
}

.service-details-card-content .portfolioSection {
  /*font: bold 12px Sans-Serif;*/
  /*letter-spacing: 2px;*/
  /*text-transform: uppercase;*/
  background: #ececec;
  /*color: #fff;*/
  color: var(--grey-700);
  padding: 5px 10px;
  margin: 0 0 10px 0;
  line-height: 24px;
}

.serviceDetails .service-details-card-content {
  border-left: 34px solid #ececec;
  border-radius: 6px;
  /*padding-left: 10px;*/
}

.serviceDetails .service-details-card-content .portfolioSection {
  /* Abs positioning makes it not take up vert space */
  position: absolute;
  bottom: 0;
  left: -34px;

  /* Border is the new background */
  background: none;

  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(-90deg);
}

.serviceDetails .field-label {
  color: var(--grey);
}

.serviceDetails .field-value {
  font-weight: 600;
}

.serviceDetails .service-image {
  border-radius: 6px;
  position: initial !important;
}

.serviceDetails .serviceDescription,
.serviceDetails .service-users,
.serviceDetails .service-pricing,
.service-details-card-content .portfolioSection {
  font-size: 16px;
}

@media only screen and (max-width: 960px) {

  .serviceDetails .service-details-card-content {
    border-left: none;
    //border-bottom: 34px solid #ececec;
  }

  .serviceDetails .service-details-card-content .portfolioSection {
    /*background-color: #ececec;*/
    transform: none;
    left: 21px;
    bottom: -45px;
  }
}


#offcanvas-filters .uk-offcanvas-bar {
  width: 100%;
  background-color: #F9F9F9;
}

#offcanvas-filters .uk-offcanvas-bar .header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}

#offcanvas-filters .uk-offcanvas-close {
  position: initial;
}

.material-icons {
  /*width: 24px;*/
  /*height: 24px;*/
  /*vertical-align: middle;*/
  //color: #6b6b6b;
  color: #ddd;
}

.material-icons.dark {
  color: #6b6b6b;
}

.material-icons.icons-secondary {
  color: var(--intelcomp-dark-color);
}

.material-icons.md-10 { font-size: 10px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
