<div class="uk-section">
  <div class="uk-container uk-container-expand">
    <dl class="uk-description-list">
      <dt>Subject</dt>
      <dd>Subject serves as a broad classification framework that groups related subject matters together.</dd>
      <dt>Sector</dt>
      <dd>Sector provides a more targeted classification framework that helps to differentiate between various subfields or disciplines within a broader subject.</dd>
      <dt>Technological group</dt>
      <dd>Technological group enables the organization and retrieval of patents based on specific technical aspects, facilitating more precise searching and examination of related inventions.</dd>
    </dl>
  </div>
</div>
