<div class="uk-section">
  <div class="uk-container">
  <h5 class="uk-text-center uk-padding-small">Request Dataset</h5>
  <form class="uk-form-horizontal" [formGroup]="createRequestForm">
    <div class="uk-margin">
      <label class="uk-form-label" for="name">Subject</label>
      <div class="uk-form-controls">
        <input formControlName="name" class="uk-input" id="name" type="text"
               [ngClass]="{'uk-form-danger': checkFormValidity('name')}">
      </div>
    </div>

    <div *ngIf="edit" class="uk-margin">
      <label class="uk-form-label" for="assignee">Assign to</label>
      <div class="uk-form-controls">
        <input formControlName="assignee" class="uk-input" id="assignee" type="email"
               [ngClass]="{'uk-form-danger': checkFormValidity('assignee')}">
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="description">Description</label>
      <div class="uk-form-controls">
        <ckeditor [editor]="editor" formControlName="description" id="description"
                  [ngClass]="{'uk-form-danger': checkFormValidity('description')}">
        </ckeditor>
      </div>
    </div>

    <div *ngIf="edit" class="uk-margin">
      <label class="uk-form-label" for="status">Status</label>
      <div class="uk-form-controls">
        <select formControlName="status" class="uk-select" id="status"
                [ngClass]="{'uk-form-danger': checkFormValidity('status')}">
          <option>Submitted</option>
          <option>Assigned to ingestor</option>
          <option>Ingested</option>
          <option>Registered</option>
          <option>Assigned to provisioner</option>
          <option>Completed</option>
        </select>
      </div>
    </div>

    <div class="uk-margin">
      <label class="uk-form-label" for="priority">Priority</label>
      <div class="uk-form-controls">
        <select formControlName="priority" class="uk-select" id="priority"
                [ngClass]="{'uk-form-danger': checkFormValidity('priority')}">
          <option>Low</option>
          <option>Medium</option>
          <option>High</option>
          <option>Critical</option>
        </select>
      </div>
    </div>


  </form>
  <div *ngIf="!edit else editButton" class="uk-flex uk-flex-right">
    <button (click)="createRequest()" class="uk-button uk-button-primary">Create request</button>
  </div>
  <ng-template #editButton>
    <div class="uk-flex uk-flex-right">
      <button (click)="editRequest()" class="uk-button uk-button-primary">Edit request</button>
    </div>
  </ng-template>
</div>
</div>
<!--<pre>{{createRequestForm.getRawValue() | json}}</pre>-->
