<!--MOBILE-->
<div class="tm-header-mobile uk-hidden@l">

  <div uk-sticky="" cls-active="uk-navbar-sticky" sel-target=".uk-navbar-container" class="uk-sticky uk-sticky-fixed" style="position: fixed; top: 0px; width: 375px;">

    <div class="uk-navbar-container">
      <nav uk-navbar="container: .tm-header-mobile" class="uk-navbar">

        <div class="uk-navbar-left">


          <a class="uk-navbar-toggle" uk-toggle="target: #tm-mobile; animation: uk-animation-slide-top" aria-expanded="false">
            <div uk-navbar-toggle-icon="" class="uk-icon uk-navbar-toggle-icon"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><rect y="9" width="20" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="20" height="2"></rect></svg></div>
          </a>


        </div>

        <div class="uk-navbar-center">

          <a routerLink="/home" class="uk-navbar-item uk-logo">
            <img alt="OpenAIRE" src="dataSpaceUI/assets/images/intelcomp-logo.svg" style="width: 200px"></a>
        </div>


      </nav>
    </div>
    <!--<div class="uk-position-relative tm-header-mobile-slide">-->

      <!--<div id="tm-mobile" class="uk-position-top" style="" hidden="">-->

        <!--<div class="">-->
          <!--<div class="uk-background-default uk-padding">-->

            <!--<div class="uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">-->

              <!--<div class="uk-first-column">-->

                <!--<div class="uk-panel" id="module-menu-mobile">-->

                  <!--<div [ngClass]="portfolioItemActive==null?'uk-display-block':'uk-display-none'">-->
                    <!--<h5 class="uk-text-center">Services</h5>-->

                    <!--<div class="uk-margin-medium-top uk-flex uk-flex-middle uk-flex-between" *ngFor="let portfolio of services | keyvalue">-->
                      <!--<h6 class="uk-text-normal uk-margin-remove">{{portfolio.key}}</h6>-->
                      <!--<a (click)="portfolioActive(portfolio.key)"><i class="fa fa-2x fa-angle-right"></i></a>-->
                    <!--</div>-->
                  <!--</div>-->

                  <!--<ng-container *ngFor="let portfolio of services | keyvalue">-->
                    <!--<div style="display: none" [ngClass]="portfolioItemActive===portfolio.key?'uk-display-block':'uk-display-none'">-->

                      <!--<div class="uk-flex uk-flex-middle">-->
                        <!--<a (click)="portfolioActive(null)"><i class="fa fa-2x fa-angle-left"></i></a>-->
                        <!--<h5 class="uk-text-center uk-margin-remove" style="width: 100%">{{portfolio.key}}</h5>-->
                      <!--</div>-->

                      <!--<div *ngFor="let service of portfolio.value" class="uk-margin-medium-top">-->
                        <!--<a (click)="redirectTo('/service/' + service.id)">-->
                          <!--<h6 class="uk-text-normal">{{service.name}}</h6>-->
                        <!--</a>-->
                      <!--</div>-->

                    <!--</div>-->
                  <!--</ng-container>-->

                  <!--<div class="uk-flex uk-flex-center">-->
                    <!--<button class="uk-margin-medium-top uk-margin-bottom uk-button uk-button-secondary" [routerLink]="['/search']">Explore all</button>-->
                  <!--</div>-->

                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->

          <!--<div class="help-section">-->
            <!--<div class="uk-padding" style="background: #F9F9F9 0% 0% no-repeat padding-box;">-->
              <!--<div class="uk-margin-top">-->
                <!--<p>Didn't find what you are looking for? <a href="mailto:info@openaire.eu">Contact us</a></p>-->
                <!--<p>Need service advices? <a href="https://www.openaire.eu/contact-noads" target="_blank">Contact NOADs</a></p>-->
                <!--<p><a href="https://www.openaire.eu/support/helpdesk" target="_blank">Help Desk</a></p>-->
              <!--</div>-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

    <!--</div>-->


  </div>
  <div class="uk-sticky-placeholder" style="height: 91px; margin: 0px;"></div>


</div>




<!--NO MOBILE-->
<div id="">
  <div class="main-menu tm-header uk-visible@m tm-header-transparent uk-margin-small-bottom">
    <div class="uk-navbar-container uk-navbar-transparent" style="background-color: rgb(255, 255, 255);">
      <div class="uk-container uk-container-large">
        <nav class="uk-navbar" uk-navbar="dropbar: true; mode: click">
          <div class="uk-navbar-left">
            <a routerLink="/home" class="uk-navbar-item uk-logo">
              <img src="dataSpaceUI/assets/images/intelcomp-logo.svg" class="uk-responsive-height" alt="Intelcomp Catalogue" style="width: 250px">
            </a>
          </div>
          <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
              <li class="uk-parent" [routerLinkActive]="['uk-active']">
                <a routerLink="/search" routerLinkActive="uk-active">
                  Browse Datasets
                </a>
              </li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <!--<li class="uk-parent" [routerLinkActive]="['uk-active']">-->
                <!--<a routerLink="/search" routerLinkActive="uk-active">-->
                  <!--Browse Datasets-->
                <!--</a>-->
              <!--</li>-->
              <li class="uk-parent" [routerLinkActive]="['uk-active']">
                <a class="loginLink">Sign In</a>
              </li>
              <li class="uk-parent" [routerLinkActive]="['uk-active']">
                <a class="loginLink">Sign Up</a>
              </li>

              <!--<li class="uk-parent" [routerLinkActive]="['uk-active']">-->
                <!--<a href="#" class="" aria-expanded="false">-->
                  <!--Support <img class="uk-margin-small-left" src="../../../assets/images/icons/ic_arrow_down.svg">-->
                <!--</a>-->
                <!--<div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;" id="support" (click)="onClick('support')">-->
                  <!--<div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">-->
                    <!--<div class="uk-first-column">-->
                      <!--<ul class="uk-nav uk-navbar-dropdown-nav">-->
                        <!--&lt;!&ndash; For Developers &ndash;&gt;-->
                        <!--&lt;!&ndash;                      <li><a [routerLink]="['/developers']" routerLinkActive="uk-active">For developers</a></li>&ndash;&gt;-->
                        <!--<li><a [routerLink]="['/support/faqs']" routerLinkActive="uk-active">FAQs</a></li>-->
                        <!--<li><a [routerLink]="['/support/privacy-policy']" routerLinkActive="uk-active">Privacy policy</a></li>-->
                        <!--<li><a href="../../../assets/files/1-CatRIS-Portal-Introduction-Tutorial-v3.0-2020-11-27.pdf"-->
                               <!--target="_blank">Introduction tutorial</a></li>-->
                        <!--<li><a href="../../../assets/files/2-CatRIS-Portal-Provider-and-Service-Onboarding-Process-Tutorial-v3.0-2020-12-08.pdf"-->
                               <!--target="_blank">Provider and Service Onboarding Guide</a></li>-->
                        <!--<li><a href="../../../assets/files/3-CatRIS-Portal-Provider-and-Service-Profiles-Tutorial-v3.0-2020-12-07.pdf"-->
                               <!--target="_blank">Provider and Service Profile Guide</a></li>-->
                        <!--<li><a href="../../../assets/files/4-CatRIS-Portal-Provider-Dashboard-Tutorial-v3.0-2020-12-07.pdf"-->
                               <!--target="_blank">Provider Dashboard Guide</a></li>-->
                        <!--<li><a href="../../../assets/files/CatRIS%20Catalogue%20API%20Guide.pdf"-->
                               <!--target="_blank">API Guide</a></li>-->
                        <!--<li><a href="https://project.catris.eu/contacts" target="_blank" routerLinkActive="uk-active">Ask a question</a></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <!--<li *ngIf="authenticationService.isLoggedIn()" class="uk-parent" [routerLinkActive]="['uk-active']">-->
                <!--<a href="#" class="" aria-expanded="false">-->
                <!--<span> {{authenticationService.getUserName()}} {{authenticationService.getUserSurname()}}-->
                  <!--<span class="uk-margin-small-right uk-icon">-->
                    <!--<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1"><circle-->
                      <!--fill="none" stroke="#000" stroke-width="1.1" cx="9.9" cy="6.4" r="4.4"></circle>-->
                      <!--<path fill="none"-->
                            <!--stroke="#000"-->
                            <!--stroke-width="1.1"-->
                            <!--d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2">-->
                      <!--</path>-->
                    <!--</svg>-->
                  <!--</span>-->
                <!--</span>-->
                <!--</a>-->
                <!--<div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;" id="user" (click)="onClick('support')">-->
                  <!--<div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">-->
                    <!--<div class="uk-first-column">-->
                      <!--<ul class="uk-nav uk-navbar-dropdown-nav">-->
                        <!--&lt;!&ndash; If user has logged in &ndash;&gt;-->
                        <!--<li><a [routerLink]="['/provider/add']" routerLinkActive="uk-active">Add New Service-->
                          <!--Provider</a></li>-->

                        <!--<li><a [routerLink]="['/myFavourites']" routerLinkActive="uk-active">My Favourites</a></li>-->

                        <!--&lt;!&ndash; If user is provider admin and has at least 1 provider &ndash;&gt;-->
                        <!--<li *ngIf="authenticationService.isProvider() || authenticationService.isAdmin()">-->
                          <!--<a [routerLink]="['/provider/my']" routerLinkActive="uk-active">My Service Providers</a>-->
                        <!--</li>-->

                        <!--&lt;!&ndash; If user is admin &ndash;&gt;-->
                        <!--<li *ngIf="authenticationService.isAdmin()"><a [routerLink]="['/provider/all']" routerLinkActive="uk-active">View-->
                          <!--Service Providers</a></li>-->
                        <!--<li *ngIf="authenticationService.isAdmin()">-->
                          <!--<a [routerLink]="['/provider/resource/all']" routerLinkActive="uk-active">View Services</a>-->
                        <!--</li>-->

                        <!--<li><a routerLink="/home" (click)="this.authenticationService.logout()">Log out</a></li>-->
                      <!--</ul>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <!--<li *ngIf="!authenticationService.isLoggedIn()" class="uk-parent" [routerLinkActive]="['uk-active']">-->
                <!--<a class="loginLink" (click)="authenticationService.login()">Log In</a>-->
              <!--</li>-->

              <!--<li *ngIf="router.url != '/home' && router.url != '/'">-->
              <!--<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.controls['query'].value)">-->
              <!--<input type="text" class="uk-input menuSearch" placeholder="Search" name="keyword" formControlName="query">-->
              <!--</form>-->
              <!--</li>-->
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden="hidden"></div>
  </div>
</div>
