.uk-navbar-container > .uk-container .uk-navbar-right, .uk-navbar-container > .container .uk-navbar-right {
  margin-right: 0px;
}

.uk-navbar-right > .uk-navbar-nav > li > a {
  white-space: nowrap;
}

/*.uk-navbar-container {*/
  /*!*padding: 20px;*!*/
/*}*/

/*.uk-navbar-dropdown, .navbar .nav > li > .dropdown-menu {*/
  /*!*display: none;*!*/
  /*!*position: absolute;*!*/
  /*!*z-index: 1020;*!*/
  /*!*box-sizing: border-box;*!*/
  /*!*width: 200px;*!*/
  /*!*padding: 25px;*!*/
  /*background: #222080;*/
  /*color: #fff;*/
  /*!*box-shadow: 0 2px 8px rgba(0,0,0,0.08);*!*/
/*}*/

/*.uk-navbar-dropdown-nav > li > a {*/
  /*color: #fff;*/
  /*font-size: 14px;*/
/*}*/


/*.tm-header {*/
  /*!*overflow: hidden;*!*/
  /*padding-bottom: 10px;*/
/*}*/

.tm-header > div {
  -webkit-box-shadow: 0px 3px 3px #0000002b;
  -moz-box-shadow: 0px 3px 3px #0000002b;
  box-shadow: 0px 3px 3px #0000002b;
}
